---
layout: default
title: General
---

<div class="email-page">
    <nav class="navbar  nav">
        <div class="container-fluid">
            <a class="nav-name navbar-brand" href="#">
                Studentfly
            </a>
        </div>
    </nav>
    <form class="form">
        <h3 class="form-name-h3">Відновлення паролю</h3>
        <hr>


        <div class="form-group">
            <!--        fail-data - якщо неправильно введенні дані-->
            <label class="label">Введіть електронну пошту:</label>
            <input class="input-grey-black fail-data" placeholder="Введіть електронну пошту" aria-label="Username"/>
        </div>
        <div class="button-login">
            <button type="button" class="btn btn-yellow form-two-yellow">Назад</button>
            <button type="button" class="btn btn-green form-two-green">Далі</button>
        </div>
    </form>
</div>
