---
layout: default
title: General
---

<div class="description-user">

<div class="container">
    <button type="button" class="button-exit">Налаштування</button>
                        <hr class="sidebar">

       </div>
        <!-- Кнопки таби-->
    <form class="formCH">
        <div class="button-admin">
            <input class="radio" id="one" name="group" type="radio">
            <input class="radio" id="two" name="group" type="radio">
            <input class="radio" id="three" name="group" type="radio">
            <input class="radio" id="four" name="group" type="radio">
            <div class="tabs">
                <label class="tab" id="four-tab" for="four">Чат</label>
                <label class="tab" id="three-tab" for="three">Сховище</label>
                <label class="tab" id="two-tab" for="two">Календар</label>
                <label class="tab" id="one-tab" for="one">Посилання</label>
            </div>

            <div class="dropdown">
                  <button type="buttonA" class="listA-button width-Asettings" data-bs-toggle="dropdown" aria-expanded="false">
                    ПМ-12 <p class="text-A">21 users</p></button>
                  </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Дискретна</a></li>
                        <li><a class="dropdown-item" href="#">Мат аналіз</a></li>
                        <li><a class="dropdown-item" href="#">Фізика</a></li>
                      </ul>
            </div>
            <div class="line"></div>
            <div class="panels">
                <hr class="sidebarG">
                <div class="description-admin" id="one-panel">
                   <hr class="sidebarCH">
                    <div class="chat" id="one-panel">
                       <p class ="message">Message</p>
                       <p class ="data">19.01.2023</p>
                           <div class="message1">
                                <p class="nickuser1">Alina Kat</p>
                                <div class="usermessage1">yes it is bat too bad and bat to not bad </div>
                           </div>
                                <div class="message2">
                                   <div class="usermessage2">What? </div>
                                </div>
                        <button type="button" class="button-addF">Add file</button>
                   </div>
                </div>
                <div class="group" id="two-panel">
                    <button type="button" class="button-AddFile">Додати файл</button>
                    <div class="refuge-group">
                         <div class="refuge" id="two-panel">
                            <ul class="for-ulRG">
                                 <li><button type="buttonU" class="listR-button width-Usettings " data-toggle="modal" data-target="#staticBackdrop">  <div class="square">T</div> <h2 class="text">Name File</h2><p class="text-R">121 mb</p></button></li>
                                 <li><button type="buttonU" class="listR-button width-Usettings ">  <div class="square">T</div> <h2 class="text">Name File</h2><p class="text-R">121 mb</p></button></li>
                                 <li><button type="buttonU" class="listR-button width-Usettings ">  <div class="square">T</div> <h2 class="text">Name File</h2><p class="text-R">121 mb</p></button></li>
                                 <li><button type="buttonU" class="listR-button width-Usettings ">  <div class="square">T</div> <h2 class="text">Name File</h2><p class="text-R">121 mb</p></button></li>
                                 <li><button type="buttonU" class="listR-button width-Usettings ">  <div class="square">T</div> <h2 class="text">Name File</h2><p class="text-R">121 mb</p></button></li>
                                 <li><button type="buttonU" class="listR-button width-Usettings ">  <div class="square">T</div> <h2 class="text">Name File</h2><p class="text-R">121 mb</p></button></li>
                                 <li><button type="buttonU" class="listR-button width-Usettings ">  <div class="square">T</div> <h2 class="text">Name File</h2><p class="text-R">121 mb</p></button></li>
                                 <li><button type="buttonU" class="listR-button width-Usettings ">  <div class="square">T</div> <h2 class="text">Name File</h2><p class="text-R">121 mb</p></button></li>
                                 <li><button type="buttonU" class="listR-button width-Usettings ">  <div class="square">T</div> <h2 class="text">Name File</h2><p class="text-R">121 mb</p></button></li>
                                 <li><button type="buttonU" class="listR-button width-Usettings ">  <div class="square">T</div> <h2 class="text">Name File</h2><p class="text-R">121 mb</p></button></li>
                                 <li><button type="buttonU" class="listR-button width-Usettings ">  <div class="square">T</div> <h2 class="text">Name File</h2><p class="text-R">121 mb</p></button></li>
                                 <li><button type="buttonU" class="listR-button width-Usettings ">  <div class="square">T</div> <h2 class="text">Name File</h2><p class="text-R">121 mb</p></button></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="groups-all" id="three-panel">
                    <div class="button-calendar">
                        <div class="calendar" id="three-panel">
                            <button  class="list-buttonCA width-settingsCA">16.01.2023</button>
                            <button  class="list-buttonCA width-settingsCA">17.01.2023</button>
                            <button  class="list-buttonCA width-settingsCA">18.01.2023</button>
                            <button  class="list-buttonCA width-settingsCA">19.01.2023</button>
                            <button  class="list-buttonCA width-settingsCA">20.01.2023</button>
                            <button  class="list-buttonCA width-settingsCA">21.01.2023</button>
                            <button  class="list-buttonCA width-settingsCA">22.01.2023</button>
                            <button  class="list-buttonCA width-settingsCA">23.01.2023</button>
                            <button  class="list-buttonCA width-settingsCA">24.01.2023</button>
                            <button  class="list-buttonCA width-settingsCA">25.01.2023</button>
                            <button  class="list-buttonCA width-settingsCA">26.01.2023</button>
                            <button  class="list-buttonCA width-settingsCA">27.01.2023</button>
                            <button  class="list-buttonCA width-settingsCA">28.01.2023</button>
                            <button  class="list-buttonCA width-settingsCA">29.01.2023</button>
                            <button  class="list-buttonCA width-settingsCA">30.01.2023</button>
                            <button  class="list-buttonCA width-settingsCA">31.01.2023</button>
                            <button  class="list-buttonCA width-settingsCA">01.02.2023</button>
                            <button  class="list-buttonCA width-settingsCA">02.02.2023</button>
                            <a class="text-calendar" href="#">1.Захист робіт з фізики. 1 пара(8:30-10:05)</a>
                            <a class="text-calendar" href="#">2.Контрольна робота з дискретної математики. 2 пара(10:20-11:55)</a>
                            <a class="text-calendar" href="#">3.Консультація С++(17:00-18:00)</a>
                        </div>
                    </div>
                </div>
                 <hr class="sidebarG">
                <div class="description-url" id="four-panel">
                   <hr class="sidebarCH">
                <div class="chat" id="four-panel">
                       <p class ="message">URL</p>
                       <p class ="data">19.01.2023</p>
                           <div class="message1">
                                <p class="nickuser1">Alina Kat</p>
                                <div class="usermessage1">https://www.figma.com/file/7A984f2Ej9S9HHRXKgq0Jp/Project?node-id=159%3A132&t=vck7KsKKOS2u3EEx-0</div>
                           </div>
                </div>
    </div>

        </form>
    <!--Модальне вікно Налаштування-->
    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-head">
                    <h5 class="modal-title" id="exampleModalLabel">Налаштування</h5>
                    <button type="button" class="btn-close button-close" data-bs-dismiss="modal">x</button>
                    <hr class="line-modal">
                </div>
                <div class="modal-bod">
                    <form action="">
                        <div class="form-group-modal">
                            <label class="label l-position">Ім'я:</label>
                            <input class="input-name-adm" placeholder="  Ім'я" aria-label="Name"/>
                            <div class="btn-pos">
                                <button type="button" class="btn btn-light-yellow modal-light-button">Змінити пароль
                                </button>
                                <button type="button" class="btn btn-light-yellow modal-light-button">Вийти з акаунту
                                </button>
                                <button type="button" class="btn btn-light-yellow small-btn-modal ">Назад
                                </button>
                                <button type="button" class="btn btn-light-yellow small-btn-modal right-pos">Далі
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-foot">

                </div>
            </div>
        </div>
    </div>
    <!--Модальне вікно Створення групи-->
    <div class="modal center-modal fade" id="CreationModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-head">
                    <h5 class="modal-title" id="exampleModalLabel">Створити групу</h5>
                    <button type="button" class="btn-close button-close" data-bs-dismiss="modal">x</button>
                    <hr class="line-modal">
                </div>
                <div class="modal-bod">
                    <form action="">
                        <div class="creation-group">
                            <label class="label l-position top-label">Назва групи:</label>
                            <input class="input-name-adm pos-input-creation" placeholder="  Введіть назву групи"
                                   aria-label="Name"/>
                        </div>
                        <div class="creation-group">
                            <label class="label l-position top-label">Ім'я старости:</label>
                            <input class="input-name-adm pos-input-creation" placeholder="  Введіть ім'я старости"
                                   aria-label="Name"/>
                        </div>
                        <div class="creation-group">
                            <label class="label l-position top-label">Електронна пошта:</label>
                            <input class="input-name-adm pos-input-creation" placeholder="  Введіть електронну пошту"
                                   aria-label="Name"/>
                        </div>
                        <div class="creation-group">
                            <label class="label l-position top-label">Пароль:</label>
                            <input class="input-name-adm pos-input-creation" placeholder="  Введіть пароль"
                                   aria-label="Name"/>
                        </div>
                        <div class="creation-group">
                            <label class="label l-position top-label">Повторіть пароль:</label>
                            <input class="input-name-adm pos-input-creation" placeholder="  Введіть пароль знову"
                                   aria-label="Name"/>
                        </div>
                        <div class="btn-pos positionForCreationButton">
                            <button type="button" class="btn btn-light-yellow small-btn-modal ">Назад
                            </button>
                            <button type="button" class="btn btn-light-yellow small-btn-modal right-pos">Далі
                            </button>
                        </div>
                    </form>

                </div>
                <div class="modal-foot">

                </div>
            </div>
        </div>
    </div>
</div>

