---
layout: default
title: General
---

<div class="description-user">
    <nav class="navbar fixed-top nav">
        <div class="container-fluid">
            <a class="navbar-brand nav-name" href="#">
                STUDENTFLY
            </a>
            <ul class="list">
                <li class="element-one">
                    <button type="button" class="list-button width-description">Про нас</button>
                </li>
                <li class="element-two">
                    <button type="button" class="list-button width-settings">Налаштування</button>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <button type="button" class="button-exit">Вийти з акаунту</button>
        <hr class="sidebar">
        <ul class="listA">
            <li class="element">
                <button type="buttonA" class="listA-button width-Asettings">ПМ-12
                    <p class="text-A">21 users</p></button>
            </li>
            <li class="element">
                <button type="buttonA" class="listA-button width-Asettings"> ПМ 2021
                    <p class="text-A">112 users</p></button>
            </li>
        </ul>
    </div>
    <div class="image-avatar">
        <img src="" alt=" " class="avatar">
        <div class="name-student">
            <!-- cabinet-header стиль для  Ім'я Прізвище користувача         -->
            <h2 class="cabinet-header">Name Surname</h2>
            <h5 class="offline-online">Online/offline</h5>
            <div class="circle"></div>
        </div>
    </div>
    <hr class="cabinet-hr-student">
    <div class="button-student">
        <button type="button" class="description-button">Опис</button>
    </div>
    <div class="description-student">
        <br>
        <p class="text-cabinet">Пошта:</p>
        <p class="text-cabinet-var">myppost@gmail.com:</p>
        <p class="text-cabinet">Університет:</p>
        <p class="text-cabinet-var">Lviv Polytechnic</p>
        <p class="text-cabinet">Про користувача:</p>
        <p class="text-cabinet-var">I am an atom is a particle of matter that uniquely defines a chemical element.
            An atom consists of a central nucleus that is surrounded by one or more negatively charged electons. The
            nucleus is positively charged and contains one or more relatively
            heavy particles known as protons and neutons.</p>
        <p class="text-cabinet-var"></p>
    </div>
</div>
