<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>General</title>
    <link rel="stylesheet" href="assets/css/main.css">
   
</head>
<body>
   
   <div class="description-user">
       <nav class="navbar fixed-top nav">
           <div class="container-fluid">
               <a class="navbar-brand nav-name" href="#">
                   Studentfly
               </a>
                   <ul class="list">
                       <li class="element-one">
                           <button type="button" class="list-button width-description">Про нас</button>
                       </li>
                        <li class="element-two">
                           <button type="button" class="list-button width-settings">Налаштування</button>
                        </li>
                   </ul>
           </div>
       </nav>
       <div class="container">
           <hr class="sidebar">
           <button type="button" class="button-exit">Вийти з акаунту</button>
       </div>
       <div class="image-avatar">
           <img src="" alt="Avatar" class="avatar">
           <div class="name-admin">
               <!-- cabinet-header стиль для  Ім'я Прізвище користувача         -->
               <h2 class="cabinet-header"></h2>
               <h5 class="offline-online"></h5>
           </div>
       </div>
       <hr class="cabinet-hr-admin">
       <div class="button-admin">
           <button type="button" class="description-button">Опис</button>
           <button type="button" class="description-button">Групи</button>
           <button type="button" class="description-button">Список груп</button>
       </div>
       <div class="description-admin">
           <br>
           <p class="text-cabinet">Електронна пошта:</p>
           <!-- text-cabinet-var стиль для електронної пошти користувача        -->
           <p class="text-cabinet-var"></p>
           <p class="text-cabinet">Університет:</p>
           <!-- text-cabinet-var стиль для назви університету користувача        -->
           <p class="text-cabinet-var"></p>
           <p class="text-cabinet">Про користувача:</p>
           <!-- text-cabinet-var стиль для опису користувача        -->
           <p class="text-cabinet-var"></p>
       </div>
   
   </div>
   
</body>
</html>