<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>General</title>
    <link rel="stylesheet" href="assets/css/main.css">
   
</head>
<body>
   
   <div class="box">
       <nav class="navbar  nav-color">
           <div class="container-fluid">
               <a class="nav-name navbar-brand" href="#">
                   Studentfly
               </a>
           </div>
       </nav>
       <form class="form">
           <h3 class="form-name-h3">Відновлення паролю</h3>
           <hr>
   
   
           <div class="form-group">
               <!--        fail-data - якщо неправильно введенні дані-->
               <label class="label">Введіть електронну пошту:</label>
               <input class="input-grey-black fail-data" placeholder="Введіть електронну пошту" aria-label="Username"/>
           </div>
           <div class="button-login">
               <button type="button" class="btn btn-yellow form-two-yellow">Назад</button>
               <button type="button" class="btn btn-green form-two-green">Далі</button>
           </div>
       </form>
   </div>
   
</body>
</html>