<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>General</title>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>
    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="../../static/css/main.css"></head>
<body>
<header class="header">
    <div class="header-container">
        <div class="header-main">
            <a href="/socnetwork/static" class="header-logo">STUDENTFLY</a>
            <nav class="header-nav">
                <a href="" class="header-link">Про нас</a>
                <a href="" class="header-link" data-bs-toggle="modal"
                   data-bs-target="#modal">Налаштування</a>
            </nav>
        </div>
    </div>
</header>

<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-head">
                <h5 class="modal-title" id="exampleModalLabel">Налаштування</h5>
                <button type="button" class="btn-close button-close" data-bs-dismiss="modal">x</button>
                <hr class="line-modal">
            </div>
            <div class="modal-bod">
                <form action="">
                    <div class="form-group-modal">
                        <div class="btn-pos">
                            <div class="position-set-large">
                                <a class="btn btn-light-yellow modal-light-button" href="/user_profile_my/">Профiль<a>
                                <a class="btn btn-light-yellow modal-light-button" href="/user_workplace/">work_place<a>
                                <button type="button" class="btn btn-light-yellow modal-light-button">Змінити пароль
                                </button>
                                    <a class="btn btn-light-yellow modal-light-button" href="/logout/">Вийти з акаунту</a>
                            </div>
                                <button type="button" class="btn btn-light-yellow small-btn-modal ">Назад
                                </button>
                             <div class="position-set-small">
                                <button type="button" class="btn btn-light-yellow small-btn-modal right-pos">Далі
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-foot">

            </div>
        </div>
    </div>
</div>


<div class="form-page">
    <form class="form" id="reset-form">
        <h3 class="form-title">Відновлення паролю</h3>
        <hr>
        <div class="form-group">
            <label class="label">Введіть електронну пошту:</label>
            <input type="email" class="input" placeholder="Введіть електронну пошту"/>
        </div>
        <div class="button-login">
            <a href="index.html" class="btn btn-yellow form-two-yellow">Назад</a>
            <button type="submit" class="btn btn-green form-two-green">Далі</button>
        </div>
    </form>
</div>


<script>
$(document).ready(function(){

setInterval(function(){
    $.ajax({
        type: 'GET',
        url : "/getMessages/",
        data:{
            username:$('#username').val(),
        },
        success: function(response){
            console.log(response);
            $("#chat_box").empty();
            for (var key in response.messages)
            {
                var temp="<div class='speakermess'><b class='nickuser'>"+response.messages[key].user+"</b><p class='text-mess'>"+response.messages[key].value+"</p> </div>";
                var temp2="<div class='usermess'><b class='nickusermess'>"+response.messages[key].user+"</b><p class='text-mess'>"+response.messages[key].value+"</p> </div>";
                $("#chat_box").append(temp);
            }
        },
        error: function(response){
            alert('An error occured')
        }
    });
},1000);
})
</script>

<script type="text/javascript">
  $(document).on('submit','#post-form_url',function(e){
    e.preventDefault();

    $.ajax({
      type:'POST',
      url:'/send_url/',
      data:{
          username:$('#username').val(),
          message_url:$('#message_url').val(),
          csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function(data){
         //alert(data)
      }
    });
    document.getElementById('message_url').value = ''
  });
</script>

<script>
$(document).ready(function(){

setInterval(function(){
    $.ajax({
        type: 'GET',
        url : "/getMessages_url/",
        data:{
            username:$('#username').val(),
        },
        success: function(response){
            console.log(response);
            $("#chat_box_url").empty();
            for (var key in response.messages_url)
            {
                var temp="<div class='speakermess'><b class='nickuser'>"+response.messages_url[key].user+"</b><p class='text-mess'><a href="+response.messages_url[key].value+" target='_blank'>"+response.messages_url[key].value+"</a></p> </div>";
                var temp2="<div class='usermess'><b class='nickusermess'>"+response.messages_url[key].user+"</b><p class='text-mess'>"+response.messages_url[key].value+"</p> </div>";
                $("#chat_box_url").append(temp);
            }
        },
        error: function(response){
            alert('An error occured')
        }
    });
},1000);
})
</script>

<script type="text/javascript">
  $(document).on('submit','#post-form',function(e){
    e.preventDefault();

    $.ajax({
      type:'POST',
      url:'/send/',
      data:{
          username:$('#username').val(),
          message:$('#message').val(),
          file:$('#file').val(),
          csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function(data){
         //alert(data)
      }
    });
    document.getElementById('message').value = ''
  });
</script>

<script>
$(document).ready(function(){

setInterval(function(){
    $.ajax({
        type: 'GET',
        url : "/getFiles/",
        data:{
            files:$('#files').val(),
        },
        success: function(response){
            console.log(response);
            $("#refuge-group").empty();
            for (var key in response.files)
            {
                var temp="<ul class='for-ulRG'><li><button type='buttonU' class='listR-button width-Usettings' data-toggle='modal' data-target='#staticBackdrop'><div class='square'>T</div><h2 class='text'>"+response.files[key].file_name+"</h2><p class='text-R'>mb</p><p class='text-R'>"+response.files[key].user+"</p></button></li></ul>";
                $("#refuge-group").append(temp);
            }
        },
        error: function(response){
            alert('An error occured')
        }
    });
},1000);
})
</script>


<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="../../static/js/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="../../static/js/main.js"></script>
</body>

</html>
