<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>General</title>
    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
<div class="description-user">
       <nav class="navbar fixed-top nav">
           <div class="container-fluid">
               <a class="navbar-brand nav-name" href="#">
                   STUDENTFLY
               </a>
                   <ul class="list">
                       <li class="element-one">
                           <button type="button" class="list-button width-description">Про нас</button>
                       </li>
                        <li class="element-two">
                           <button type="button" class="list-button width-settings">Налаштування</button>
                        </li>
                   </ul>
           </div>
       </nav>
      </div>

       <div class="container">
            <button type="button" class="button-exit">Налаштування</button>
                      <hr class="sidebar">
                  <ul class="listA">
                       <li class="element">
                           <button type="buttonA" class="listA-button width-Asettings">ПМ-12
                           <p class="text-A">21 users</p></button>
                       </li>
                       <li class="elementG">
                           <button type="buttonA" class="listG-button width-Gsettings">Дискретка</button>
                           <button type="buttonA" class="listG-button width-Gsettings">Матаналіз</button>
                           <button type="buttonA" class="listG-button width-Gsettings">Диф. рівняння</button>
                       </li>
                        <li class="element">
                           <button type="buttonA" class="listA-button width-Asettings"> ПМ 2021
                           <p class="text-A">112 users</p></button>
                        </li>
                   </ul>
       </div>

       <div class="redactor">
           <hr class="sidebarG">
           <form class="formG">
          <div class="form-group">
               <label class="label">Додати користувача:</label>
               <input class="input-G" readonly placeholder="Ви не можете додати користувача" aria-label="Username"/>
           </div>
           <div class="form-group">
               <label class="label">Змінити імя групи:</label>
               <input class="input-G" readonly placeholder="Ви не можете змінювати назву групи" aria-label="Username"/>
           </div>
       </form>
       </div>

       <div class="students_group">
           <form class="formGD">
               <div class="formGD-group">
                    <div class="circleG"></div> <h2 class="name-user">Name Surname</h2>
                    <div class="circleG2"></div> <h2 class="name-user">Name Surname</h2>
                    <div class="circleG2"></div> <h2 class="name-user">Name Surname</h2>
                    <div class="circleG2"></div> <h2 class="name-user">Name Surname</h2>
                    <div class="circleG2"></div> <h2 class="name-user">Name Surname</h2>
                    <div class="circleG2"></div> <h2 class="name-user">Name Surname</h2>
               </div>
           </form>
       </div>
   </div>

</body>
</html>