<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>General</title>
    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
<div class="description-user">
       <nav class="navbar fixed-top nav">
           <div class="container-fluid">
               <a class="navbar-brand nav-name" href="#">
                   STUDENTFLY
               </a>
                   <ul class="list">
                       <li class="element-one">
                           <button type="button" class="list-button width-description">Про нас</button>
                       </li>
                        <li class="element-two">
                           <button type="button" class="list-button width-settings">Налаштування</button>
                        </li>
                   </ul>
           </div>
       </nav>
      </div>

       <div class="container">
            <button type="button" class="button-exit">Налаштування</button>
                      <hr class="sidebar">
                  <ul class="listA">
                       <li class="element">
                           <button type="buttonA" class="listA-button width-Asettings">ПМ-12
                           <p class="text-A">21 users</p></button>
                       </li>
                       <li class="elementG">
                           <button type="buttonA" class="listG-button width-Gsettings">Дискретка</button>
                           <button type="buttonA" class="listG-button width-Gsettings">Матаналіз</button>
                           <button type="buttonA" class="listG-button width-Gsettings">Диф. рівняння</button>
                       </li>
                        <li class="element">
                           <button type="buttonA" class="listA-button width-Asettings"> ПМ 2021
                           <p class="text-A">112 users</p></button>
                        </li>
                   </ul>
       </div>

       <div class="redactor">
           <hr class="sidebarG">
            <div class="button-chat">
                <form class="formCH">
                   <button type="buttonCH" class="list-buttonCH width-settingsCH">Чат</button>
                   <button type="buttonCH" class="list-buttonCH width-settingsCH">Сховище</button>
                   <button type="buttonCH" class="list-buttonCH width-settingsCH">Календар</button>
                   <button type="buttonCH" class="list-buttonCH width-settingsCH">Посилання</button>
                </form>
            </div>
       </div>
</div>
       <div class="refuge">
            <ul class="for-ulRG">
                 <li><button type="buttonU" class="listR-button width-Usettings " data-toggle="modal" data-target="#staticBackdrop">  <div class="square">T</div> <h2 class="text">Name File</h2><p class="text-R">121 mb</p></button></li>
                 <li><button type="buttonU" class="listR-button width-Usettings ">  <div class="square">T</div> <h2 class="text">Name File</h2><p class="text-R">121 mb</p></button></li>
                 <li><button type="buttonU" class="listR-button width-Usettings ">  <div class="square">T</div> <h2 class="text">Name File</h2><p class="text-R">121 mb</p></button></li>
                 <li><button type="buttonU" class="listR-button width-Usettings ">  <div class="square">T</div> <h2 class="text">Name File</h2><p class="text-R">121 mb</p></button></li>
                 <li><button type="buttonU" class="listR-button width-Usettings ">  <div class="square">T</div> <h2 class="text">Name File</h2><p class="text-R">121 mb</p></button></li>
                 <li><button type="buttonU" class="listR-button width-Usettings ">  <div class="square">T</div> <h2 class="text">Name File</h2><p class="text-R">121 mb</p></button></li>
                 <li><button type="buttonU" class="listR-button width-Usettings ">  <div class="square">T</div> <h2 class="text">Name File</h2><p class="text-R">121 mb</p></button></li>
                 <li><button type="buttonU" class="listR-button width-Usettings ">  <div class="square">T</div> <h2 class="text">Name File</h2><p class="text-R">121 mb</p></button></li>
                 <li><button type="buttonU" class="listR-button width-Usettings ">  <div class="square">T</div> <h2 class="text">Name File</h2><p class="text-R">121 mb</p></button></li>
                 <li><button type="buttonU" class="listR-button width-Usettings ">  <div class="square">T</div> <h2 class="text">Name File</h2><p class="text-R">121 mb</p></button></li>
                 <li><button type="buttonU" class="listR-button width-Usettings ">  <div class="square">T</div> <h2 class="text">Name File</h2><p class="text-R">121 mb</p></button></li>
                 <li><button type="buttonU" class="listR-button width-Usettings ">  <div class="square">T</div> <h2 class="text">Name File</h2><p class="text-R">121 mb</p></button></li>
            </ul>
           <button class="addfile">Додати файл</button>
       </div>
</div>
</body>
</html>