---
layout: default
title: General
---


<div class="text">
    <p>Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est.</p>
</div>
<div class="authentication">
    <button type="button" class="btn btn-green">Primary</button>
    <button type="button" class="btn btn-yellow">Secondary</button>
    <button type="button" class="btn btn-yellow">Info</button>
    <button type="button" class="btn btn-dark active">Info</button>

</div>

<input class="input-red-grey"  placeholder="Username" aria-label="Username" />
<input class="input-red-black" placeholder="Username" aria-label="Username"  />
<input class="input-grey-black" placeholder="Username" aria-label="Username"  />
<input class="input-grey-grey" placeholder="Username" aria-label="Username"  />
<div class="link">
<a href="https://www.figma.com/file/7A984f2Ej9S9HHRXKgq0Jp/Project?node-id=0%3A1&t=DnCWCG4PHq0HRVAS-0">link</a>
</div>

<h1>
   Hello world!
</h1>