.input-red-grey{
width: 730px;
height: 55px;

background: #242424;
border-radius: 10px;
  color:white;

}
.input-red-grey::placeholder {
  font-family: 'Ubuntu', sans-serif;
	font-size: larger;
	color: #8F1E1E;
}

.input-red-black{
  Width :1110px;
  Height :55px;
  background: #242424;
  border-radius: 10px;
 color:white;
}
.input-red-black::placeholder {
  color:#8F1E1E;
  font-family: 'Ubuntu', sans-serif;
  font-size: larger;
}

.input-grey-black{
  width: 1110px;
height: 55px;

background: #242424;
border-radius: 10px;
  color: white;
}

.input-grey-black::placeholder {
  color: #3B3B3B;
  font-family: 'Ubuntu', sans-serif;
  font-size: larger;
}

.input-grey-grey{
  width: 730px;
height: 55px;

background: #242424;
border-radius: 10px;
  color:white;
}

.input-grey-grey::placeholder {
  color: #3B3B3B;
  font-family: 'Ubuntu', sans-serif;
  font-size: larger;
}

