* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "Ubuntu", sans-serif;
    transition: 0.3s all ease;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    transition: 0.3s all ease;
}

input {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    line-height: 30px;
}

p {
    line-height: 30px;
    word-wrap: break-word;
}

button {
    border: transparent;
}

body {
    background: #3B3B3B;
    background-size: 100%;
}

.login-page .form .form-one-yellow {
    margin-top: 150px;
}

.button {
    margin-top: 235px;
}

.button-login {
    margin-top: 330px;
}

.container {
    position: fixed;
    transform: translateY(-40px);
    width: 370px;
    height: 100%;
    background: #1F1F1F;
}

.sidebar {
    position: absolute;
    bottom: 100px;
    width: 100%;
    height: 1px;
    background: white;
    border: none;
    margin-left: -15px;
}

.avatar {
    position: absolute;
    z-index: 2;
    transform: translateX(395px);
    margin-top: 20px;
    width: 170px;
    height: 170px;
    border-radius: 50%;
}

.image-avatar {
    position: relative;
    transform: translateY(-50px);
    margin-left: -10px;
}

.name-admin {
    position: absolute;
    z-index: 1;
    background: #B4AB55;
    height: 100px;
    width: 100%;
    margin-top: 55px;
    transform: translateX(475px);
}

.cabinet-header {
    transform: translateX(110px);
    font-weight: 150;
    margin-top: 20px;
    font-size: 25px;
}

.offline-online {
    font-weight: 100;
    color: rgba(255, 255, 255, 0.5);
    transform: translateX(112px);
    margin-top: 6px;
    font-size: 20px;
}

.cabinet-hr-admin {
    display: block;
    background: #2E2E2E;
    height: 1px;
    margin-top: 210px;
}

.button-admin {
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(410px);
    margin-top: 120px;
}

.description-admin {
    display: none;
    transform: translateX(690px);
    max-width: 1000px;
    animation: fadein 0.8s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.text-cabinet {
    font-size: 17px;
}

.text-cabinet-var {
    transform: translateX(5px);
    margin-top: -8px;
    font-size: 17px;
}

.content-admin {
    transform: translateY(180px);
    z-index: 3;
}

.panels {
    transform: translate(-690px);
    margin-top: -120px;
    width: 100%;
    text-align: left;
    z-index: 3;
}

.line {
    border-bottom: 2px solid #1F1F1F;
    margin-bottom: 100px;
    width: 1700px;
    transform: translateY(-90px);
}

.group {
    z-index: 3;
    display: none;
    animation: fadein 0.8s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.found-group {
    transform: translateX(675px);
    padding: 10px;
}

.position-btn-found {
    margin: 10px;
    height: 40px;
}

.found {
    display: block;
    transform: translateY(10px);
    margin-left: 5px;
}

.line-panel {
    display: block;
    border-bottom: 2px solid #1F1F1F;
    width: 1700px;
    transform: translateX(500px);
    margin: 20px;
}

.button-creation {
    transform: translateX(685px);
}

.groups-all {
    display: none;
}

.pos-scroll {
    transform: translateX(670px);
    margin: 20px;
}

@font-face {
    font-family: "Ubuntu";
  src: url("../../fonts/ubuntu/Ubuntu-Bold.eot");
  src: url("../../fonts/ubuntu/Ubuntu-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/ubuntu/Ubuntu-Bold.woff2") format("woff2"), url("../../fonts/ubuntu/Ubuntu-Bold.woff") format("woff"), url("../../fonts/ubuntu/Ubuntu-Bold.ttf") format("truetype"), url("../../fonts/ubuntu/Ubuntu-Bold.svg#Ubuntu-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: "Ubuntu";
  src: url("../../fonts/ubuntu/Ubuntu-Light.eot");
  src: url("../../fonts/ubuntu/Ubuntu-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/ubuntu/Ubuntu-Light.woff2") format("woff2"), url("../../fonts/ubuntu/Ubuntu-Light.woff") format("woff"), url("../../fonts/ubuntu/Ubuntu-Light.ttf") format("truetype"), url("../../fonts/ubuntu/Ubuntu-Light.svg#Ubuntu-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: "Ubuntu";
  src: url("../../fonts/ubuntu/Ubuntu-Medium.eot");
  src: url("../../fonts/ubuntu/Ubuntu-Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/ubuntu/Ubuntu-Medium.woff2") format("woff2"), url("../../fonts/ubuntu/Ubuntu-Medium.woff") format("woff"), url("../../fonts/ubuntu/Ubuntu-Medium.ttf") format("truetype"), url("../../fonts/ubuntu/Ubuntu-Medium.svg#Ubuntu-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: "Ubuntu";
  src: url("../../fonts/ubuntu/Ubuntu-Regular.eot");
  src: url("../../fonts/ubuntu/Ubuntu-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/ubuntu/Ubuntu-Regular.woff2") format("woff2"), url("../../fonts/ubuntu/Ubuntu-Regular.woff") format("woff"), url("../../fonts/ubuntu/Ubuntu-Regular.ttf") format("truetype"), url("../../fonts/ubuntu/Ubuntu-Regular.svg#Ubuntu-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

button {
    font-family: "Ubuntu", sans-serif;
}

.btn-green {
    background-color: #0cab5f;
    color: white;
    border-radius: 6px;
}

.form-one-green {
    width: 540px;
    height: 40px;
    padding: 5px 15px;
    margin-top: 30px;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-size: 17px;
    font-weight: 300;
}

.form-two-green {
    padding: 5px 15px;
    height: 40px;
    width: 240px;
    float: right;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-size: 15px;
    font-weight: 300;
}

.btn-yellow {
    background-color: #b1a10b;
    color: white;
    border-radius: 6px;
}

.form-one-yellow {
    padding: 5px 15px;
    height: 30px;
    margin-top: 150px;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-size: 14px;
}

.form-two-yellow {
    width: 150px;
    height: 40px;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-size: 15px;
    font-weight: 300;
}

.btn-light-yellow {
    background-color: #ada76a;
    color: white;
    border-radius: 6px;
}

.btn-light-yellow:hover {
    color: white;
    background: #d3cb81;
    border: #d3cb81;
    transition: all 0.3s ease;
}

.btn-light-yellow:active {
    color: white;
    background: #d3cb81;
    border: #d3cb81;
}

.btn-yellow:hover {
    color: white;
    background: #d7c30d;
    border: #d7c30d;
    transition: all 0.3s ease;
}

.btn-yellow:active {
    color: white;
    background: #d7c30d;
    border: #d7c30d;
}

.btn-green:hover {
    color: white;
    background: #0ed174;
    border: #0ed174;
    transition: all 0.3s ease;
}

.btn-green:active {
    color: white;
    background: #0ed174;
    border: #0ed174;
}

.btn-dark {
    background-color: #353535;
    color: white;
    border-radius: 6px;
}

.btn-dark.active {
    background-color: #b1a10b;
    border: #b1a10b;
}

.btn-dark:hover {
    background: #353535;
    border: #353535;
}

.list-button {
    display: inline-block;
    text-align: center;
    color: #FFFFFF;
    background: #171717;
    border-radius: 6px;
    height: 30px;
    font-size: 17px;
}

.list-button:hover {
    color: #FFFFFF;
    background: #3d3d3d;
}

.list-button:active {
    color: #FFFFFF;
    background: #b1a10b;
}

.width-description {
    width: 90px;
}

.width-settings {
    width: 150px;
}

.button-exit {
    position: absolute;
    bottom: 90px;
    color: #FFFFFF;
    background: #1f1f1f;
    border-radius: 6px;
    height: 30px;
    font-size: 17px;
    transform: translateX(15px);
    width: 150px;
}

.button-exit:hover {
    color: #FFFFFF;
    background: #454545;
}

.button-exit:active {
    color: #FFFFFF;
    background: #b1a10b;
}

.description-button {
    text-align: center;
    color: #FFFFFF;
    background: #353535;
    border-radius: 6px;
    height: 27px;
    font-size: 17px;
    margin-right: 20px;
    width: 150px;
}

.description-button:hover {
    color: #FFFFFF;
    background: #5b5b5b;
}

.description-button:active {
    color: #FFFFFF;
    background: #b1a10b;
}

.tab {
    cursor: pointer;
    padding: 5px;
    height: 30px;
    border-radius: 6px;
    font-size: 17px;
    display: inline-block;
    background: #353535;
    color: white;
    width: 150px;
    text-align: center;
    margin: 20px;
}

.tabs {
    z-index: 3;
    transform: translateX(-500px);
}

.radio {
    z-index: 3;
    display: none;
}

#three:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#one:checked ~ .panels #three-panel {
    display: block;
}

#two:checked ~ .tabs #two-tab,
#one:checked ~ .tabs #one-tab,
#three:checked ~ .tabs #three-tab {
    background: #b1a10b;
    color: #FFFFFF;
}

.scroll-button {
    display: inline-block;
    padding: 8px;
    text-decoration: none;
    width: 100%;
    color: #FFFFFF;
    background: #242424;
    border-color: #242424;
    height: 55px;
    font-size: 17px;
}

.scroll-button:hover {
    color: #FFFFFF;
    background: #4a4a4a;
}

.scroll-button:active {
    color: #FFFFFF;
    background: #4a4a4a;
}

.input-grey-black {
    width: 540px;
    height: 35px;
    background: #242424;
    border-radius: 10px;
    border: #242424;
    color: white;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.input-grey-black.fail-data::-moz-placeholder {
    color: #8F1E1E;
}

.input-grey-black.fail-data::placeholder {
    color: #8F1E1E;
}

.input-grey-black::-moz-placeholder {
    color: #3B3B3B;
    font-family: "Ubuntu", sans-serif;
    font-size: 17px;
}

.input-grey-black::placeholder {
    color: #3B3B3B;
    font-family: "Ubuntu", sans-serif;
    font-size: 17px;
}

.input-grey-grey {
    width: 730px;
    height: 55px;
    background: #242424;
    border-radius: 10px;
    color: white;
}

.input-grey-grey::-moz-placeholder {
    color: #3B3B3B;
    font-family: "Ubuntu", sans-serif;
    font-size: larger;
}

.input-grey-grey::placeholder {
    color: #3B3B3B;
    font-family: "Ubuntu", sans-serif;
    font-size: larger;
}

.label {
    margin-bottom: 15px;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-size: 17px;
    font-weight: 300;
    color: #FFFFFF;
    display: block;
}

.usual:link {
    color: blue;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
}

.usual:visited {
    color: #d7c30d;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
}

.usual:hover {
    color: #d7c30d;
    text-decoration: underline;
    font-family: "Ubuntu", sans-serif;
}

.usual:active {
    color: blue;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #FFFFFF;
    font-family: "Ubuntu", sans-serif;
}

p {
    color: #FFFFFF;
    font-family: "Ubuntu", sans-serif;
}

.form {
    width: 600px;
    height: 600px;
    background: #2E2E2E;
    border-radius: 10px;
    margin: auto;
    padding: 30px;
    transform: translateY(40px);
}

.form .form-group {
    margin-bottom: 25px;
}

.form .form-group:last-child {
    margin-bottom: 20px;
}

.form-name-h3 {
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 300;
    color: #FFFFFF;
    margin-bottom: 30px;
}

hr {
    width: 100%;
    height: 5px;
    background: #1F1F1F;
    border: none;
    margin-bottom: 30px;
}

.nav {
    background: #191919;
    background-size: 100%;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgba(0, 0, 0, 0.1);
    height: 80px;
}

.nav-name {
    display: block;
    width: 316px;
    height: 58px;
    padding: 20px;
    transform: translateY(-10px);
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: 550;
    font-size: 25px;
    color: #FFFFFF;
}

.nav-name:link {
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
}

.nav-name:visited {
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
}

.nav-name:hover {
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
}

.nav-name:active {
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
}

.list {
    display: flex;
    float: right;
    transform: translateY(0px);
}

.list .element-one {
    transform: translateX(-55px);
}

.list .element-two {
    transform: translateX(-20px);
}

.modal-content {
    background: rgba(0, 0, 0, 0.65);
}

.button-close {
    color: white;
    font-size: 22px;
    transform: translateY(-40px);
    margin-left: 450px;
}

.modal {
    transform: translateX(500px);
}

.modal-title {
    transform: translateX(175px);
}

.line-modal {
    border-bottom: 2px solid white;
    transform: translateY(-50px);
}

.input-name-adm {
    width: 450px;
    background: #242424;
    border: #242424;
    border-radius: 6px;
    transform: translateX(25px);
    color: white;
}

.form-group-modal {
    margin-top: -50px;
}

.l-position {
    transform: translateX(29px);
}

.modal-light-button {
    width: 450px;
    margin: 10px;
    height: 35px;
    transform: translateX(15px);
}

.btn-pos {
    margin-top: 150px;
}

.small-btn-modal {
    height: 35px;
    margin-top: 50px;
    transform: translateX(25px);
    width: 100px;
}

.right-pos {
    float: right;
    transform: translateX(-25px);
}

.creation-group {
    transform: translateY(-65px);
}

.pos-input-creation {
    transform: translateY(-25px);
    margin: 25px;
}

.positionForCreationButton {
    margin-top: -100px;
    transform: translateY(-20px);
}

.center-modal {
    transform: translateX(0px);
}

.scroll {
    background: #242424;
    border: none;
    width: 600px;
    height: 300px;
    overflow-y: scroll;
    box-shadow: 1px 1px grey, -1px -1px grey;
}

.small-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.name-group-btn {
    float: right;
    transform: translate(-460px);
    padding: 5px;
}

::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #b4ab55;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #dacf67;
}