.modal-content {
  background: rgba(0, 0, 0, 0.65);

  &.creation-color {
    background: rgba(0, 0, 0, 95);
  }

  &.small {
    width: 150px;
    height: 150px;
  }
}


.button-close {
  color: white;
  font-size: 22px;
  transform: translateY(-40px);
  margin-left: 450px;
}

.modal {
  transform: translateX(500px);

  &.center-modal {
    transform: translateX(0px);
  }

  &.small {
    transform: translateX(250px);
    margin-top: 250px;
  }
}

.modal-title {
  transform: translateX(175px);

  &.pos {
    transform: translateX(145px);
  }
}

.line-modal {
  border-bottom: 2px solid white;
  transform: translateY(-50px);
}


.form-group-modal {
  margin-top: -50px;

}

.modal-light-button {
  width: 450px;
  margin: 10px;
  height: 35px;
  transform: translateX(15px);
}

.btn-pos {
  margin-top: 150px;

  &.positionForCreationButton {
    margin-top: -100px;
    transform: translateY(-20px);
  }
}

.small-btn-modal {
  height: 35px;
  margin-top: 50px;
  transform: translateX(25px);
  width: 100px;
}

.right-pos {
  float: right;
  transform: translateX(-25px);
}


.creation-group {
  transform: translateY(-65px);

}


.modal-bod {
  &.pos {
    transform: translateY(6px);
  }
}