
.grey-background{
  position: fixed;
  width: 1000px;
  height: 100%;
  background: #2E2E2E;
  transform: translateX(450px);
}


.settings-group{
  margin-top: 20px;
  margin-left:35px;
  &.pos{
    transform: translateY(85px);
  }
}

.line-set{
   border-bottom: 3px solid  #242424;
   transform: translateY(115px);
   width:930px;
  margin-left: 35px;
}

.NewChanel{
 margin-left: -34px;
}

.button-hidden{
  display: none;
  transform: translateY(90px);
  margin-left: 25px;
}

.all-input{
  margin-top: -20px;
}

.settings-of-groups{
  overflow-y: auto;
}