.form-page{
  padding: 170px 15px 80px;
  background: #3B3B3B;
  display: flex;
  justify-content: center;
}

.login-page{
  .form{
    .yellow-btn{
      margin-top: 205px;
    }
  }
}


.nav-name {
  display: block;
  width: 316px;
  height: 58px;
  padding: 20px;
  transform: translateY( 5px);
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: 25px;
  color: #FFFFFF;
}

.nav-name:link {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;

}


.nav-name:visited {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;

}


.nav-name:hover {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
}


.nav-name:active {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
}




