.edit-profile-form {
  margin-top: 600px;
  margin-left: 150px;
}

.avatar {
  position: absolute;
  z-index: 2;
  transform: translateX(395px);
  margin-top: 25px;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  @media(max-width: 1024px) {
    margin-top: 70px;
    display: inline-block;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.image-avatar {
  position: relative;
  transform: translateY(100px);
  top: 80px;
  margin-left: -10px;

  &.pos {
    margin-top: -100px;
  }
}

.name-admin {
  position: absolute;
  z-index: 1;
  background: #B4AB55;
  height: 100px;
  width: 100%;
  margin-top: 55px;
  transform: translateX(475px);
  @media(max-width: 1024px) {
    display: inline-block;
    left: 50%;
    width: 512px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    margin-top: 215px;
  }

}

.cabinet-header {
  transform: translateX(110px);
  font-weight: 150;
  margin-top: 20px;
  font-size: 25px;
  @media(max-width: 1024px) {
    position: absolute;
    display: inline-block;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.offline-online {
  font-weight: 100;
  color: rgba(255, 255, 255, 0.5);
  transform: translateX(112px);
  margin-top: 6px;
  font-size: 20px;
  @media(max-width: 1024px) {
    position: absolute;
    display: inline-block;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 60px;
  }
}

.cabinet-hr-admin {
  display: block;
  background: #2E2E2E;
  height: 1px;
  margin-top: 210px;


}

.chat {
  display: none;
  max-width: 1000px;
  animation: fadein 0.8s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.text-cabinet {
  font-size: 19px;
  font-weight: bold;
}

.text-cabinet-var {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: -8px;
  font-size: 17px;
}

.content-admin {
  transform: translateY(205px);
  margin-right: -115px;
  z-index: 3;

}

.position-for-content {
  transform: translateY(130px);
}


.line {
  border-bottom: 2px solid #1F1F1F;
  margin-bottom: 100px;
  width: 100%;
  transform: translateY(-90px);

  &.pos-right {
    margin-left: 80px;
  }

  @media(max-width: 1024px) {
    margin-top: 100px;
  }


}

.group {
  z-index: 3;
  display: none;
  animation: fadein 0.8s;
  margin-left: -200px;

  @media(max-width: 1024px) {
    margin-left: -70px;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.found-group {
  margin-left: 680px;
  padding: 10px;
  @media(max-width: 880px) {
    margin-left: 735px;
  }

  &.top {
    margin-top: 15px;
  }

  &.down {
    @media(max-width: 880px) {
      margin-top: 70px;


    }
  }

}

.row {
  display: flex;
  flex-direction: row;
}

.position-btn-found {
  margin-left: 15px;
  height: 40px;

  @media(max-width: 880px) {
    position: absolute;
    display: inline-block;
    left: 42.5%;
    margin-top: 100px;
    transform: translate(-50%, -50%);

  }
}

.line-panel {
  display: block;
  border-bottom: 2px solid #1F1F1F;
  width: 1700px;
  transform: translateX(500px);
  margin: 20px;

  @media(max-width: 880px) {
    margin-top: 100px;

  }
}

.button-creation {
  transform: translateX(685px);
  margin-bottom: 50px;
  @media(max-width: 880px) {
    margin-top: 40px;
    position: absolute;
    left: 44%;
    transform: translate(-50%, -50%);

  }
}

.groups-all {
  display: none;
  margin-left: -180px;

  @media(max-width: 1024px) {
    margin-left: 15px;

  }

  @media(max-width: 915px) {
    margin-left: -45px;

  }

  @media(max-width: 850px) {
    margin-left: -90px;

  }
  @media(max-width: 780px) {
    margin-left: -120px;

  }
}



