.tab{
    transform: translateX(550px);
}

.dropdown{
    transform: translateY(130px);
}

.list-buttonCH {
    color: #FFFFFF;
    background: #3B3B3B;
    border-radius: 6px;
    height: 30px;
    font-size: 17px;
    margin-left: 30px;
    z-index: 3;
    display: none;
}


.list-buttonCH:hover {
    color: #FFFFFF;
    background: #3d3d3d;
}

.list-buttonCH:active {
    color: #FFFFFF;
    background: #B1A10B;
    border-radius: 6px;
    height: 30px;
    font-size: 17px;
}

.formCH{
    position: absolute;
    width: 70%;
    height: 100%;
    background: #2E2E2E;
    border-radius: 10px;
    margin-top: 0px;
    transform: translateX(400px);
    }

.button-chat {
   transform: translateX(400px);
}

.buttonCH {
    margin-top: 235px;}

.width-settingsCH {
    width: 200px;
}

.sidebarCH {
    position: fixed;
    background: #B1A10B;
    bottom: -25px;
    width: 953px;
    height: 5px;
    margin-left: -71px;
    index-z: 1;
}

input[type="file"] {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
label[for="file"]::before {
    position: absolute;
  content: "Add File";
  display: inline-block;
  border: 1px solid #ccc;
  cursor: pointer;
    bottom: 13px;
    color: #FFFFFF;
    background: #B1A10B;
    border-radius: 6px;
    text-align: center;
    font-size: 30px;
    pointer-events: auto;
    padding: 33px 14px;
    margin-left: -15px;
    width: 800px;
    height: 99px;
}
label[for="file"]:active::before {
    color: #FFFFFF;
    background: #353003;
}

label[for="file"]:hover::before {
    color: #FFFFFF;
    background: #6a6006;
}
.button-sendF {
    position: absolute;
    bottom: 15px;
    color: #FFFFFF;
    background: #B1A10B;
    border-radius: 6px;
    font-size: 20px;
    padding: 17px 50px;
    pointer-events: auto;
    margin-left: 932px;
}

.button-sendF2 {
    position: absolute;
    bottom: 15px;
    color: #FFFFFF;
    background: #B1A10B;
    border-radius: 6px;
    font-size: 20px;
    padding: 20px 81px;
    pointer-events: auto;
    margin-left: 723px;
}

.button-sendF2:hover {
    color: #FFFFFF;
    background: #6a6006;
}

.button-sendF2:active {
    color: #FFFFFF;
    background: #353003;
}

.button-sendF_url {
    position: absolute;
    bottom: 15px;
    color: #FFFFFF;
    background: #B1A10B;
    border-radius: 6px;
    font-size: 20px;
    padding: 17px 50px;
    pointer-events: auto;
    margin-left: 932px;
}

.button-sendF:hover {
    color: #FFFFFF;
    background: #6a6006;
}

.button-sendF:active {
    color: #FFFFFF;
    background: #353003;
}

.data{
    position: absolute;
    width: 98px;
    height: 24px;
    font-weight: 400;
    font-size: 10px;
    line-height: 24px;
    color: #898780;
    margin-top: 240px;
    margin-left: 600px;
}

.message{
    position: fixed;
    bottom: 18px;
    max-width: 928px;
    width: 100%;
    height: 25px;
    border: none;
    background: #2E2E2E;
    margin-left: -70px;
    pointer-events: auto;
    color: var(--yellow-dark);
}

.message_url{
    position: fixed;
    bottom: 18px;
    max-width: 928px;
    width: 100%;
    height: 25px;
    border: none;
    background: #2E2E2E;
    margin-left: -70px;
    pointer-events: auto;
    color: var(--yellow-dark);
}

.usermess {
  margin-top: 35px;
  max-width: 95%;
  right: 20px;
  color: #FFFFFF;
  background: var(--yellow-dark);
  border-radius: 10px;
  padding: 10px 20px;
}

.speakermess {
  margin-top: 35px;
  left: 20px;
  max-width: 95%;
  color: #FFFFFF;
  background: #242424;
  border-radius: 10px;
  padding: 10px 20px;
}

.nickuser {
  color: #B1A10B;
  margin-top: -35px;
  left: 20px;
}

.nickusermess {
  color: #B1A10B;
  margin-top: -35px;
  left: 20px;
}

.text-mess{
color: #FFFFFF;
    font-size: 20px;
}
/*===================================*/

  .btn-container{
  height: 100px;
  border: none;
  padding: 10px;
  box-sizing: border-box;
  }




/*
======================

         /Refuge

======================
*/

.button-AddFile {
    position: absolute;
    bottom: 85px;
    color: #FFFFFF;
    background: #b1a10b;
    border-radius: 6px;
    font-size: 20px;
    padding: 10px 585px;
    margin-left: -81px;
    pointer-events: auto;

    @media (max-width: 1640px) {
    padding: 10px 485px;
    }

    @media (max-width: 1540px) {
    bottom: 150px;
    padding: 10px 430px;}

    @media (max-width: 1440px) {
    padding: 10px 400px;
    }

    @media (max-width: 1280px) {
    padding: 10px 360px;}

.button-AddFile_upload {
    position: absolute;
    bottom: 85px;
    color: #FFFFFF;
    background: #b1a10b;
    border-radius: 6px;
    font-size: 20px;
    padding: 10px 585px;
    margin-left: -162px;
    pointer-events: auto;

    @media (max-width: 1640px) {
    padding: 10px 485px;
    }

    @media (max-width: 1540px) {
    bottom: 150px;
    padding: 10px 430px;}

    @media (max-width: 1440px) {
    padding: 10px 400px;
    }

    @media (max-width: 1280px) {
    padding: 10px 360px;}
}
&:hover {
    color: #FFFFFF;
    background: #454545;
}

&:active {
    color: #FFFFFF;
    background: #1f1f1f;
}
}
.for-ulRG {

        list-style-type: none;
        max-height: 600px;
        max-width: 1000px;
        margin-top: 15px;
        transform: translateX(20px);

    @media (max-width: 1640px){
        max-height: 450px;
        width: 1100px;
        margin-top: 70px;
    }
    @media (max-width: 1540px){
        max-height: 370px;
        width: 1000px;
        margin-top: 25px;
    }
    @media (max-width: 1440px){
        max-height: 350px;
        width: 920px;
        margin-top: 25px;
    }
    @media (max-width: 1280px){
        max-height: 250px;
        width: 850px;
    }
}

.square {
  position: fixed;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  color: #000000;
  background-color: #D9D9D9;
  border-radius: 10%;
  padding: 30px 30px;
}

.text {
    position: center;
    height: 39px;
    margin-left: 100px;
    margin-top: 25px;
    font-size: 20px;
    line-height: 20px;
    max-width: 1000px;
    transform: translateY(-10px);
}

.text-R {
    font-family: "Inter";
    font-size: 13px;
    line-height: 15px;
    margin-left: 100px;
    margin-top: -20px;
    max-width: 1150px;
}

.listR-button {
    color: #FFFFFF;
    background: #ffffff00;
    font-size: 20px;
    text-align: left;
    max-width: 1000px;
    margin-top: 10px;
}

.listR-button:hover {
    color: #FFFFFF;
    background: #3d3d3d;
        text-align: left;
}

.listR-button:active {
    color: #FFFFFF;
    background: #b1a10b;
        text-align: left;
}


/*
======================

         /Calendar

======================
*/

.sidebarCA {
    background: #B1A10B;
    width: 905px;
    height: 2px;
    margin-left: 30px;
    transform: translateY(0px);
    index-z: 1;
}

.list-buttonCA {
    color: #FFFFFF;
    background: #3B3B3B;
    border-radius: 6px;
    height: 55px;
    font-size: 17px;
}

.list-buttonCA:hover {
    color: #FFFFFF;
    background: #3d3d3d;
}

.list-buttonCA:active {
    color: #FFFFFF;
    background: #B1A10B;
    border-radius: 6px;
    height: 55px;
    font-size: 17px;
}

.formCA{
    position: absolute;
    width: 1000px;
    height: 670px;
    background: #2E2E2E;
    border-radius: 10px;
    margin-top: -40px;

}

.button-calendar {
   transform: translateX(100px);
    margin-top: 25px;
    line-height: 60px;
}

.buttonCA {
    margin-top: 235px;
}

.width-settingsCA {
    width: 285px;
}
.text-calendar {
    display: block;
    width: 600px;
    height: 1px;
    padding: 20px;
    font-style: normal;
    font-weight: 550;
    color: #FFFFFF;
    margin-top: 10px;
    transform: translateX(15px);
    font-size: 17px;
}



.text-A {
    font-family: "Inter";
    font-size: 13px;
}

redactor {
    position: relative;
    index-z: 0;
}
.formG .form-group {
    margin-bottom: 25px;
}

.formG .form-group:last-child {
    margin-bottom: 20px;
}

.formG-name-h3 {
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 300;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.listG-button {
    color: #FFFFFF;
    background: #ffffff00;
    font-size: 17px;
        text-align: left;
}

.listG-button:hover {
    color: #FFFFFF;
    background: #3d3d3d;
        text-align: left;
}

.listG-button:active {
    color: #FFFFFF;
    background: #b1a10b;
        text-align: left;
}

.listA {
    float: left;
        text-align: left;
        transform: translateY(10px);
        padding-left: 20px;
}

.listA .element {
    transform: translateY(-45px);
        text-align: left;
            padding-top: 10px;
}

.listA-button {
     position: fixed;
    color: #FFFFFF;
    background: #ffffff00;
    font-size: 20px;
        text-align: left;

}

.listA-button:hover {
    color: #FFFFFF;
    background: #3d3d3d;
        text-align: left;
}

.listA-button:active {
    color: #FFFFFF;
    background: #b1a10b;
        text-align: left;
}

.width-Asettings {
    width: 300px ;
        text-align: left;
    padding: 5px 3px;
    padding-top: 10px  ;
}

.width-Gsettings {
    width: 300px ;
        text-align: left;
    padding: 10px 3px;
}


.text-A {
    font-family: "Inter";
    font-size: 13px;
    line-height: 15px;
}

li2 {
    line-height: 15px;
}


.dropdown-menu{
    background: #ffffff00;
}

.dropdown-item{
    color: #FFFFFF;
}

.dropdown-item:hover {
    color: #FFFFFF;
    background: #3d3d3d;
        text-align: left;
}
.dropdown-item:active{
    background: #b1a10b;
}
.description-url {
    display: none;
    max-width: 1000px;
    animation: fadein 0.8s;
}

/*
======================

         /Chat

======================
*/

@-webkit-keyframes fake {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
@keyframes fake {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
body {
  -webkit-animation: fake 1s infinite;
          animation: fake 1s infinite;
}

.worko-tabs {
    position: absolute;
    margin-top: 86px;
    width: 80%;
    height: 69px;
    z-index: 3;
    pointer-events: auto;
}
.worko-tabs .state {
  left: -10000px;
}
.worko-tabs .flex-tabs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.worko-tabs .flex-tabs .tab {
  flex-grow: 1;
  max-height: 40px;
}
.worko-tabs .flex-tabs .panel {
    padding: 133px;
    min-height: 397px;
    max-height: 1206px;
    display: none;
    width: 100%;
    margin-left: -99px;
    flex-basis: auto;
    margin-top: -87px;
}

.worko-tabs .tab:hover {
  background-color: #B1A10B;
}

.chat_box{
    display: inline-block;
    overflow: auto;
    max-height: 592px;
    width: 1220px;
    margin-left: -6%;
    margin-top: 93px;
    pointer-events: auto;
}

.refuge-group{
    display: inline-block;
    overflow: auto;
    max-height: 592px;
    width: 1150px;
    margin-left: -6%;
    margin-top: 93px;
    pointer-events: auto;
}

.chat_box_url{
display: inline-block;
    overflow: auto;
    max-height: 595px;
    width: 1220px;
    margin-left: -16%;
    margin-top: 93px;
    pointer-events: auto;
}

.tab_1{
  display: inline-block;
  max-height: 850px;
}

.panels{
    margin-left: 550px;
    margin-top: -134px;
    width: 100%;
    text-align: left;
    z-index: 1;
    height: 823px;
    pointer-events: none;
}

.inputsandplaceholders{
    margin-top: 50px
}

#tab-one-panel{
    width: 750px;
    pointer-events: auto;
}
#tab-two-panel{
    width: 750px;
    pointer-events: auto;
}
#tab-three-panel{
    width: 750px;
    pointer-events: auto;
}
#tab-four-panel{
    width: 750px;
    pointer-events: auto;
}

#tab-one:checked ~ .tabs #tab-one-label,
#tab-two:checked ~ .tabs #tab-two-label,
#tab-three:checked ~ .tabs #tab-three-label,
#tab-four:checked ~ .tabs #tab-four-label {
  background-color: #B1A10B;
  cursor: default;
  border-left-color: #69be28;
}

#tab-one:checked ~ .tabs #tab-one-panel,
#tab-two:checked ~ .tabs #tab-two-panel,
#tab-three:checked ~ .tabs #tab-three-panel,
#tab-four:checked ~ .tabs #tab-four-panel {
  display: block;
}

@media (max-width: 600px) {
  .flex-tabs {
    flex-direction: column;
  }
  .flex-tabs .tab {
    background: #fff;
    border-bottom: 1px solid #ccc;
  }
  .flex-tabs .tab:last-of-type {
    border-bottom: none;
  }
  .flex-tabs #tab-one-label {
    order: 1;
  }
  .flex-tabs #tab-two-label {
    order: 3;
  }
  .flex-tabs #tab-three-label {
    order: 5;
  }
  .flex-tabs #tab-four-label {
    order: 7;
  }
  .flex-tabs #tab-one-panel {
    order: 2;
  }
  .flex-tabs #tab-two-panel {
    order: 4;
  }
  .flex-tabs #tab-three-panel {
    order: 6;
  }
  .flex-tabs #tab-four-panel {
    order: 8;
  }

  #tab-one:checked ~ .tabs #tab-one-label,
#tab-two:checked ~ .tabs #tab-two-label,
#tab-three:checked ~ .tabs #tab-three-label,
#tab-four:checked ~ .tabs #tab-four-label {
    border-bottom: none;
  }

  #tab-one:checked ~ .tabs #tab-one-panel,
#tab-two:checked ~ .tabs #tab-two-panel,
#tab-three:checked ~ .tabs #tab-three-panel,
#tab-four:checked ~ .tabs #tab-four-panel {
    border-bottom: 1px solid #ccc;
  }
}