.tab{
    transform: translateX(550px);
}

.dropdown{
    transform: translateY(130px);
}

.list-buttonCH {
    color: #FFFFFF;
    background: #3B3B3B;
    border-radius: 6px;
    height: 30px;
    font-size: 17px;
    margin-left: 30px;
    z-index: 3;
    display: none;
}


.list-buttonCH:hover {
    color: #FFFFFF;
    background: #3d3d3d;
}

.list-buttonCH:active {
    color: #FFFFFF;
    background: #B1A10B;
    border-radius: 6px;
    height: 30px;
    font-size: 17px;
}

.formCH{
    position: absolute;
    width: 70%;
    height: 100%;
    background: #2E2E2E;
    border-radius: 10px;
    margin-top: 0px;
    transform: translateX(400px);
    }

.button-chat {
   transform: translateX(400px);
}

.buttonCH {
    margin-top: 235px;}

.width-settingsCH {
    width: 200px;
}

.sidebarCH {
    position: fixed;
    background: #B1A10B;
    bottom: -25px;
    width: 1030px;
    height: 5px;
    margin-left: 30px;
    index-z: 1;
}

.button-addF {
    position: absolute;
    bottom: 15px;
    color: #FFFFFF;
    background: #B1A10B;
    border-radius: 6px;
    font-size: 20px;
    padding: 17px 20px;
    margin-left: 960px;
    @media (max-width: 1640px) {
        font-size: 18px;
    }
    @media (max-width: 1440px) {
        font-size: 16px;
    }

}

.button-addF:hover {
    color: #FFFFFF;
    background: #6a6006;
}

.button-addF:active {
    color: #FFFFFF;
    background: #353003;
}

.button-sendF {
    position: absolute;
    bottom: 15px;
    color: #FFFFFF;
    background: #B1A10B;
    border-radius: 6px;
    font-size: 20px;
    padding: 17px 50px;
    margin-left: 1080px;
}

.button-sendF:hover {
    color: #FFFFFF;
    background: #6a6006;
}

.button-sendF:active {
    color: #FFFFFF;
    background: #353003;
}

.data{
    position: absolute;
    width: 98px;
    height: 24px;
    font-weight: 400;
    font-size: 10px;
    line-height: 24px;
    color: #898780;
    margin-top: 240px;
    margin-left: 600px;
}

.message{
    position: fixed;
    bottom: 25px;
     max-width: 900px;
  width: 100%;
  height: 15px;
  border: none;
  background: #2E2E2E;
  margin-left: 30px;
  color: var(--yellow-dark);
}

.usermess{
    position: fixed;
    right: 20px;
    color: #FFFFFF;
    background: var(--yellow-dark);
    border-radius: 10px;
    padding: 10px 20px;
    }

.speakermess{
    position: fixed;
    left: 20px;
    max-width: 100%;
    color: #FFFFFF;
    background: #242424;
    border-radius: 10px;
    padding: 10px 20px;
    }


.nickuser{
    position: fixed;
    color: #B1A10B;
    margin-top: -35px;
    left: 20px;
}

.text-mess{
color: #FFFFFF;
    font-size: 20px;
}
/*===================================*/

  .btn-container{
  height: 100px;
  border: none;
  padding: 10px;
  box-sizing: border-box;
  }




/*
======================

         /Refuge

======================
*/

.button-AddFile {

    @media (max-width: 1920px) {
    position: absolute;
    bottom: 170px;
    color: #FFFFFF;
    background: #b1a10b;
    border-radius: 6px;
    font-size: 20px;
    padding: 10px 585px;
    margin-left: 15px;}

    @media (max-width: 1640px) {
    position: absolute;
    bottom: 170px;
    color: #FFFFFF;
    background: #b1a10b;
    border-radius: 6px;
    font-size: 20px;
    padding: 10px 485px;
    margin-left: 15px;}

    @media (max-width: 1440px) {
    position: absolute;
    bottom: 150px;
    color: #FFFFFF;
    background: #b1a10b;
    border-radius: 6px;
    font-size: 20px;
    padding: 10px 400px;
    margin-left: 15px;}

     @media (max-width: 1366px) {
    position: absolute;
    bottom: 150px;
    color: #FFFFFF;
    background: #b1a10b;
    border-radius: 6px;
    font-size: 20px;
    padding: 10px 400px;
    margin-left: 15px;}

    @media (max-width: 1280px) {
    position: absolute;
    bottom: 150px;
    color: #FFFFFF;
    background: #b1a10b;
    border-radius: 6px;
    font-size: 20px;
    padding: 10px 360px;
    margin-left: 15px;}
&:hover {
    color: #FFFFFF;
    background: #454545;
}

&:active {
    color: #FFFFFF;
    background: #1f1f1f;
}
}
.for-ulRG {

    @media (max-width: 1920px) {
        list-style-type: none;
        max-height: 600px;
        width: 1300px;
        overflow-y: scroll;
        margin-top: 75px;
         transform: translateX(20px);
    }
    @media (max-width: 1640px){
    list-style-type: none;
        max-height: 450px;
        width: 1100px;
        overflow-y: scroll;
        margin-top: 70px;
         transform: translateX(20px);
    }
    @media (max-width: 1440px){
    list-style-type: none;
        max-height: 350px;
        width: 920px;
        overflow-y: scroll;
        margin-top: 25px;
         transform: translateX(20px);
    }
    @media (max-width: 1280px){
    list-style-type: none;
        max-height: 250px;
        width: 850px;
        overflow-y: scroll;
        margin-top: 25px;
         transform: translateX(20px);
    }
}

.square {
  position: fixed;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  color: #000000;
  background-color: #D9D9D9;
  border-radius: 10%;
  padding: 30px 30px;
}

.text {
    position: center;
    width: 268px;
    height: 39px;
    margin-left: 100px;
    margin-top: 25px;
    font-size: 20px;
    line-height: 20px;
    transform: translateY(-10px);
}

.text-R {
    font-family: "Inter";
    font-size: 13px;
    line-height: 15px;
    margin-left: 100px;
    margin-top: -20px;
}

.listR-button {
    color: #FFFFFF;
    background: #ffffff00;
    font-size: 20px;
        text-align: left;
    margin-top: 10px;
}

.listR-button:hover {
    color: #FFFFFF;
    background: #3d3d3d;
        text-align: left;
}

.listR-button:active {
    color: #FFFFFF;
    background: #b1a10b;
        text-align: left;
}


/*
======================

         /Calendar

======================
*/

.sidebarCA {
    background: #B1A10B;
    width: 905px;
    height: 2px;
    margin-left: 30px;
    transform: translateY(0px);
    index-z: 1;
}

.list-buttonCA {
    color: #FFFFFF;
    background: #3B3B3B;
    border-radius: 6px;
    height: 55px;
    font-size: 17px;
}

.list-buttonCA:hover {
    color: #FFFFFF;
    background: #3d3d3d;
}

.list-buttonCA:active {
    color: #FFFFFF;
    background: #B1A10B;
    border-radius: 6px;
    height: 55px;
    font-size: 17px;
}

.formCA{
    position: absolute;
    width: 1000px;
    height: 670px;
    background: #2E2E2E;
    border-radius: 10px;
    margin-top: -40px;

}

.button-calendar {
   transform: translateX(100px);
    margin-top: 25px;
    line-height: 60px;
}

.buttonCA {
    margin-top: 235px;
}

.width-settingsCA {
    width: 285px;
}
.text-calendar {
    display: block;
    width: 600px;
    height: 1px;
    padding: 20px;
    font-style: normal;
    font-weight: 550;
    color: #FFFFFF;
    margin-top: 10px;
    transform: translateX(15px);
    font-size: 17px;
}



.text-A {
    font-family: "Inter";
    font-size: 13px;
}

redactor {
    position: relative;
    index-z: 0;
}

.formG {
    float: right;
    width: 1050px;
    height: 670px;
    background: #2E2E2E;
    padding: 30px 50px;
    margin-right: 75px;
    margin-top: -40px;
}

.formG .form-group {
    margin-bottom: 25px;
}

.formG .form-group:last-child {
    margin-bottom: 20px;
}

.formG-name-h3 {
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 300;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.sidebarG {
    background: #242424;
    width: 900px;
    height: 1px;
    margin-left: 460px;
    transform: translateY(230px);
    index-z: 1;
}

.listG-button {
    color: #FFFFFF;
    background: #ffffff00;
    font-size: 17px;
        text-align: left;
}

.listG-button:hover {
    color: #FFFFFF;
    background: #3d3d3d;
        text-align: left;
}

.listG-button:active {
    color: #FFFFFF;
    background: #b1a10b;
        text-align: left;
}

.listA {
    float: left;
        text-align: left;
        transform: translateY(10px);
        padding-left: 20px;
}

.listA .element {
    transform: translateY(-45px);
        text-align: left;
            padding-top: 10px;
}

.listA-button {
     position: fixed;
    color: #FFFFFF;
    background: #ffffff00;
    font-size: 20px;
        text-align: left;

}

.listA-button:hover {
    color: #FFFFFF;
    background: #3d3d3d;
        text-align: left;
}

.listA-button:active {
    color: #FFFFFF;
    background: #b1a10b;
        text-align: left;
}

.width-Asettings {
    width: 300px ;
        text-align: left;
    padding: 5px 3px;
    padding-top: 10px  ;
}

.width-Gsettings {
    width: 300px ;
        text-align: left;
    padding: 10px 3px;
}


.text-A {
    font-family: "Inter";
    font-size: 13px;
    line-height: 15px;
}

li2 {
    line-height: 15px;
}


.dropdown-menu{
    background: #ffffff00;
}

.dropdown-item{
    color: #FFFFFF;
}

.dropdown-item:hover {
    color: #FFFFFF;
    background: #3d3d3d;
        text-align: left;
}
.dropdown-item:active{
    background: #b1a10b;
}
.description-url {
    display: none;
    max-width: 1000px;
    animation: fadein 0.8s;
}

