.description-student{
    transform: translateX(400px);
    margin-top: 250px;
}

.list {
    display: flex;
    float: right;
    transform: translateY(-34px);
}

.list .element-one {
    transform: translateX(-55px);
}

.list .element-two {
    transform: translateX(-20px);
}
buttonA {
    font-family: "Ubuntu";
}
.listA {
    float: left;
        text-align: left;
        transform: translateY(50px);
        padding-left: 20px;
}

.listA .element {
    transform: translateY(-45px);
        text-align: left;
            padding-top: 20px;
}



.text-A {
    font-family: "Inter";
    font-size: 13px;
    line-height: 15px;
}

/*
======================

      group-info

======================
*/

buttonG {
    font-family: "Ubuntu";
}
.listG {
    float: left;
        text-align: left;
        padding-left: 20px;
        transform: translateY(-250px);
}

.listG .element {
    transform: translateY(-45px);
        text-align: left;
            padding-top: 20px;
}

.listG-button {
    color: #FFFFFF;
    background: #ffffff00;
    font-size: 20px;
        text-align: left;
}

.listG-button:hover {
    color: #FFFFFF;
    background: #3d3d3d;
        text-align: left;
}

.listG-button:active {
    color: #FFFFFF;
    background: #b1a10b;
        text-align: left;
}

.width-Gsettings {
    width: 300px ;
        text-align: left;
    padding: 10px 3px;
}

.text-G {
    font-family: "Inter";
    font-size: 13px;
    line-height: 15px;
}

.redactor {
    position: relative;
    index-z: 0;
}

.formG {
    position: absolute;
    top: 100px;
    left: 25%;
    /* float: right; */
    width: 1050px;
    height: 883px;
    background: #2E2E2E;
    padding: 30px 50px;
    /* margin-right: 50px; */
    /* margin-top: 73px; */
}


.formG .form-group {
    margin-bottom: 25px;
}

.formG .form-group:last-child {
    margin-bottom: 20px;
}

.formG-name-h3 {
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 300;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.sidebarG {
    position: absolute;
    top: 237px;
    left: 50px;
    background: #000000;
    border-radius: 10px;
    width: 900px;
    height: 10px;
    z-index: 1;
}

.listG-button {
    color: #FFFFFF;
    background: #ffffff00;
    font-size: 17px;
        text-align: left;
}

.listG-button:hover {
    color: #FFFFFF;
    background: #3d3d3d;
        text-align: left;
}

.listG-button:active {
    color: #FFFFFF;
    background: #b1a10b;
        text-align: left;
}

.width-Gsettings {
    width: 300px ;
        text-align: left;
    padding: 10px 3px;
}

.listA .elementG {
    transform: translateY(-55px);
        text-align: left;
            padding-top: 10px;
}

.formGD{
    background: #242424;
    position: absolute;
    top: 302px;
    left: 48px;
    width: 900px;
    height: 500px;
    /* margin-left: 150px; */
    /* transform: translateY(363px); */
    border-radius: 10px;
}

.students_group {
    /* transform: translateX(420px); */
}

.input-G {
    width: 900px;
    height: 35px;
    background: #242424;
    border-radius: 10px;
    border: #242424;
    color: white;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.circleG {
  position: absolute;
  height: 45px;
  width: 45px;
  background-color: #B1A10B;
  border-radius: 50%;
    margin-top: 5px;
    margin-left: 10px;
}
.circleG2 {
  position: absolute;
  height: 45px;
  width: 45px;
  background-color: #B1A10B;
  border-radius: 50%;
  margin-top: 7px;
    margin-left: 10px;

}

.name-user {
position: center;
width: 268px;
height: 39px;
margin-left: 60px;
margin-top: 20px;
font-size: 20px;
line-height: 20px;
}

button {
    font-family: "Ubuntu", sans-serif;
}

.btn-primary {
    background-color: #B1A10B;
    color: white;
    border-radius: 6px;
}

buttonU {
    font-family: "Ubuntu";
}

.listU-button {
    color: #FFFFFF;
    background: #ffffff00;
    font-size: 20px;
        text-align: left;
}

.listU-button:hover {
    color: #FFFFFF;
    background: #3d3d3d;
        text-align: left;
}

.listU-button:active {
    color: #FFFFFF;
    background: #b1a10b;
        text-align: left;
}

.width-Usettings {
    width: 350px ;
        text-align: left;
}

.for-ul {
    float: right;
    list-style-type: none;
    max-height: 500px;
    width: 900px;
    overflow-y: scroll;
    /* margin-top: -630px; */
    transform: translateY(1px);
    }

#element {

  background-color: #ffffff;
  width: 200px;
  height: 200px;
}

.overflow {
  min-height: 400px;
}
#element::-webkit-scrollbar {
  width: 10px;
  background-color: #f9f9fd;
}

#element::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #18aaaa;
}

#element::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}

