* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "Ubuntu", sans-serif;
    transition: 0.3s all ease;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    transition: 0.3s all ease;
}

input {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    line-height: 30px;
}

p {
    line-height: 30px;
    word-wrap: break-word;
}

button {
    border: transparent;
}

body {
    background: #3B3B3B;
    background-size: 100%;
}

.login-page .form .form-one-yellow {
    margin-top: 150px;
}

.button {
    margin-top: 235px;
}

.circle {
  position: absolute;
  top: -35px;
  left: -80px;
  height: 170px;
  width: 170px;
  background-color: #B1A10B;
  border-radius: 50%;
}

.button-login {
    margin-top: 330px;
}

.container {
    position: fixed;
    width: 370px;
    height: 665px;
    background: #1F1F1F;
}

.sidebar {
    position: absolute;
    bottom: 30px;
    width: 100%;
    height: 1px;
    background: #2E2E2E;
    border: none;
    margin-bottom: 30px;
}

.avatar {
    position: absolute;
    z-index: 2;
    transform: translateX(395px);
    margin-top: 20px;
    width: 170px;
    height: 170px;
    border-radius: 50%;
}

.image-avatar {
    position: relative;
}

.name-student {
    position: absolute;
    z-index: 1;
    background: #B4AB55;
    height: 100px;
    width: 100%;
    margin-top: 55px;
    transform: translateX(475px);
}

.cabinet-header {
    transform: translateX(110px);
    font-weight: 150;
    margin-top: 20px;
}

.offline-online {
    font-weight: 100;
    color: rgba(255, 255, 255, 0.5);
    transform: translateX(110px);
    margin-top: 10px;
}

.cabinet-hr-student {
    background: #2E2E2E;
    height: 1px;
    margin-top: 210px;
}

.button-student {
    transform: translateX(410px);
}

.description-student {
    transform: translateX(420px);
}

.text-cabinet {
    font-size: 17px;
    font-weight: 550;
}

.text-cabinet-var {
    transform: translateX(5px);
    font-size: 17px;
}

.text-cabinetA {
    font-family: "Inter";
    font-size: 13px;
     transform: translateY(-15px);
}

@font-face {
    font-family: "Ubuntu";
  src: url("../../fonts/ubuntu/Ubuntu-Bold.eot");
  src: url("../../fonts/ubuntu/Ubuntu-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/ubuntu/Ubuntu-Bold.woff2") format("woff2"), url("../../fonts/ubuntu/Ubuntu-Bold.woff") format("woff"), url("../../fonts/ubuntu/Ubuntu-Bold.ttf") format("truetype"), url("../../fonts/ubuntu/Ubuntu-Bold.svg#Ubuntu-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: "Ubuntu";
  src: url("../../fonts/ubuntu/Ubuntu-Light.eot");
  src: url("../../fonts/ubuntu/Ubuntu-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/ubuntu/Ubuntu-Light.woff2") format("woff2"), url("../../fonts/ubuntu/Ubuntu-Light.woff") format("woff"), url("../../fonts/ubuntu/Ubuntu-Light.ttf") format("truetype"), url("../../fonts/ubuntu/Ubuntu-Light.svg#Ubuntu-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: "Ubuntu";
  src: url("../../fonts/ubuntu/Ubuntu-Medium.eot");
  src: url("../../fonts/ubuntu/Ubuntu-Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/ubuntu/Ubuntu-Medium.woff2") format("woff2"), url("../../fonts/ubuntu/Ubuntu-Medium.woff") format("woff"), url("../../fonts/ubuntu/Ubuntu-Medium.ttf") format("truetype"), url("../../fonts/ubuntu/Ubuntu-Medium.svg#Ubuntu-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: "Ubuntu";
  src: url("../../fonts/ubuntu/Ubuntu-Regular.eot");
  src: url("../../fonts/ubuntu/Ubuntu-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/ubuntu/Ubuntu-Regular.woff2") format("woff2"), url("../../fonts/ubuntu/Ubuntu-Regular.woff") format("woff"), url("../../fonts/ubuntu/Ubuntu-Regular.ttf") format("truetype"), url("../../fonts/ubuntu/Ubuntu-Regular.svg#Ubuntu-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

button {
    font-family: "Ubuntu", sans-serif;
}

.btn-green {
    background-color: #0cab5f;
    color: white;
    border-radius: 6px;
}

.form-one-green {
    width: 540px;
    height: 40px;
    padding: 5px 15px;
    margin-top: 30px;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-size: 17px;
    font-weight: 300;
}

.form-two-green {
    padding: 5px 15px;
    height: 40px;
    width: 240px;
    float: right;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-size: 15px;
    font-weight: 300;
}

.btn-yellow {
    background-color: #b1a10b;
    color: white;
    border-radius: 6px;
}

.form-one-yellow {
    padding: 5px 15px;
    height: 30px;
    margin-top: 150px;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-size: 14px;
}

.form-two-yellow {
    width: 150px;
    height: 40px;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-size: 15px;
    font-weight: 300;
}

.btn-light-yellow {
    background-color: #ada76a;
    color: white;
    border-radius: 6px;
}

.btn-light-yellow:hover {
    color: white;
    background: #d3cb81;
    border: #d3cb81;
    transition: all 0.3s ease;
}

.btn-light-yellow:active {
    color: white;
    background: #d3cb81;
    border: #d3cb81;
}

.btn-yellow:hover {
    color: white;
    background: #d7c30d;
    border: #d7c30d;
    transition: all 0.3s ease;
}

.btn-yellow:active {
    color: white;
    background: #d7c30d;
    border: #d7c30d;
}

.btn-green:hover {
    color: white;
    background: #0ed174;
    border: #0ed174;
    transition: all 0.3s ease;
}

.btn-green:active {
    color: white;
    background: #0ed174;
    border: #0ed174;
}

.btn-dark {
    background-color: #353535;
    color: white;
    border-radius: 6px;
}

.btn-dark.active {
    background-color: #b1a10b;
    border: #b1a10b;
}

.btn-dark:hover {
    background: #353535;
    border: #353535;
}

.list-button {
    color: #FFFFFF;
    background: #171717;
    border-radius: 6px;
    height: 30px;
    font-size: 17px;

}

.list-button:hover {
    color: #FFFFFF;
    background: #3d3d3d;
}

.list-button:active {
    color: #FFFFFF;
    background: #b1a10b;
}

.width-description {
    width: 90px;
}

.width-settings {
    width: 150px;
}

.button-exit {
    position: absolute;
    bottom: 15px;
    color: #FFFFFF;
    background: #1f1f1f;
    border-radius: 6px;
    font-size: 20px;
    padding: 7px 100px;
    margin-left: 10px;
}

.button-exit:hover {
    color: #FFFFFF;
    background: #454545;
}

.button-exit:active {
    color: #FFFFFF;
    background: #b1a10b;
}

.description-button {
    color: #FFFFFF;
    background: #B1A10B;
    border-radius: 6px;
    height: 30px;
    font-size: 17px;
    margin-right: 20px;
    width: 150px;
}

.input-grey-black {
    width: 540px;
    height: 35px;
    background: #242424;
    border-radius: 10px;
    border: #242424;
    color: white;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.input-grey-black.fail-data::-moz-placeholder {
    color: #8F1E1E;
}

.input-grey-black.fail-data::placeholder {
    color: #8F1E1E;
}

.input-grey-black::-moz-placeholder {
    color: #3B3B3B;
    font-family: "Ubuntu", sans-serif;
    font-size: 17px;
}

.input-grey-black::placeholder {
    color: #3B3B3B;
    font-family: "Ubuntu", sans-serif;
    font-size: 17px;
}

.input-grey-grey {
    width: 730px;
    height: 55px;
    background: #242424;
    border-radius: 10px;
    color: white;
}

.input-grey-grey::-moz-placeholder {
    color: #3B3B3B;
    font-family: "Ubuntu", sans-serif;
    font-size: larger;
}

.input-grey-grey::placeholder {
    color: #3B3B3B;
    font-family: "Ubuntu", sans-serif;
    font-size: larger;
}

.label {
    margin-bottom: 15px;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-size: 17px;
    font-weight: 300;
    color: #FFFFFF;
    display: block;
}

.usual:link {
    color: blue;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
}

.usual:visited {
    color: #d7c30d;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
}

.usual:hover {
    color: #d7c30d;
    text-decoration: underline;
    font-family: "Ubuntu", sans-serif;
}

.usual:active {
    color: blue;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #FFFFFF;
    font-family: "Ubuntu", sans-serif;
}

p {
    color: #FFFFFF;
    font-family: "Ubuntu", sans-serif;
}

.form {
    width: 600px;
    height: 600px;
    background: #2E2E2E;
    border-radius: 10px;
    margin: auto;
    padding: 30px;
    transform: translateY(40px);
}

.form .form-group {
    margin-bottom: 25px;
}

.form .form-group:last-child {
    margin-bottom: 20px;
}

.form-name-h3 {
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 300;
    color: #FFFFFF;
    margin-bottom: 30px;
}

hr {
    width: 100%;
    height: 5px;
    background: #1F1F1F;
    border: none;
    margin-bottom: 30px;
}

.nav {
    background: #191919;
    background-size: 100%;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgba(0, 0, 0, 0.1);
    height: 80px;
}

.nav-name {
    display: block;
    width: 316px;
    height: 58px;
    padding: 20px;
    transform: translateY(5px);
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: 550;
    font-size: 25px;
    color: #FFFFFF;
}

.nav-name:link {
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
}

.nav-name:visited {
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
}

.nav-name:hover {
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
}

.nav-name:active {
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
}

.list {
    display: flex;
    float: right;
    transform: translateY(-34px);
}

.list .element-one {
    transform: translateX(-55px);
}

.list .element-two {
    transform: translateX(-20px);
}
buttonA {
    font-family: "Ubuntu";
}
.listA {
    float: left;
        text-align: left;
        transform: translateY(50px);
        padding-left: 20px;
}

.listA .element {
    transform: translateY(-45px);
        text-align: left;
            padding-top: 20px;
}

.listA-button {
    color: #FFFFFF;
    background: #ffffff00;
    font-size: 20px;
        text-align: left;
}

.listA-button:hover {
    color: #FFFFFF;
    background: #3d3d3d;
        text-align: left;
}

.listA-button:active {
    color: #FFFFFF;
    background: #b1a10b;
        text-align: left;
}

.width-Asettings {
    width: 300px ;
        text-align: left;
    padding: 10px 3px;
}

.text-A {
    font-family: "Inter";
    font-size: 13px;
    line-height: 15px;
}

/*
======================

      group-info

======================
*/

buttonG {
    font-family: "Ubuntu";
}
.listG {
    float: left;
        text-align: left;
        padding-left: 20px;
        transform: translateY(-250px);
}

.listG .element {
    transform: translateY(-45px);
        text-align: left;
            padding-top: 20px;
}

.listG-button {
    color: #FFFFFF;
    background: #ffffff00;
    font-size: 20px;
        text-align: left;
}

.listG-button:hover {
    color: #FFFFFF;
    background: #3d3d3d;
        text-align: left;
}

.listG-button:active {
    color: #FFFFFF;
    background: #b1a10b;
        text-align: left;
}

.width-Gsettings {
    width: 300px ;
        text-align: left;
    padding: 10px 3px;
}

.text-G {
    font-family: "Inter";
    font-size: 13px;
    line-height: 15px;
}

.redactor {
    position: relative;
    index-z: 0;
}

.formG {
    float: right;
    width: 800px;
    height: 600px;
    background: #2E2E2E;
    padding: 30px 50px;
    margin-right: 325px;
    margin-top: -30px;
}

.formG .form-group {
    margin-bottom: 25px;
}

.formG .form-group:last-child {
    margin-bottom: 20px;
}

.formG-name-h3 {
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 300;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.sidebarG {
    background: #242424;
    width: 540px;
    height: 1px;
    margin-left: 460px;
    transform: translateY(230px);
    index-z: 1;
}

.listG-button {
    color: #FFFFFF;
    background: #ffffff00;
    font-size: 17px;
        text-align: left;
}

.listG-button:hover {
    color: #FFFFFF;
    background: #3d3d3d;
        text-align: left;
}

.listG-button:active {
    color: #FFFFFF;
    background: #b1a10b;
        text-align: left;
}

.width-Gsettings {
    width: 300px ;
        text-align: left;
    padding: 10px 3px;
}

.listA .elementG {
    transform: translateY(-55px);
        text-align: left;
            padding-top: 10px;
}