* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "Ubuntu", sans-serif;
    transition: 0.3s all ease;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    transition: 0.3s all ease;
}

input {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    line-height: 30px;
}

p {
    line-height: 30px;
    word-wrap: break-word;
}

button {
    border: transparent;
}

body {
    background: #3B3B3B;
    background-size: 100%;
}

.login-page .form .form-one-yellow {
    margin-top: 150px;
}

.button {
    margin-top: 235px;
}

.circle {
  position: absolute;
  top: -35px;
  left: -80px;
  height: 170px;
  width: 170px;
  background-color: #B1A10B;
  border-radius: 50%;
}

.button-login {
    margin-top: 330px;
}

.container {
    position: fixed;
    width: 370px;
    height: 665px;
    background: #1F1F1F;
}

.sidebar {
    position: absolute;
    bottom: 30px;
    width: 100%;
    height: 1px;
    background: #2E2E2E;
    border: none;
    margin-bottom: 30px;
}

.avatar {
    position: absolute;
    z-index: 2;
    transform: translateX(395px);
    margin-top: 20px;
    width: 170px;
    height: 170px;
    border-radius: 50%;
}

.image-avatar {
    position: relative;
}

.name-student {
    position: absolute;
    z-index: 1;
    background: #B4AB55;
    height: 100px;
    width: 100%;
    margin-top: 55px;
    transform: translateX(475px);
}

.cabinet-header {
    transform: translateX(110px);
    font-weight: 150;
    margin-top: 20px;
}

.offline-online {
    font-weight: 100;
    color: rgba(255, 255, 255, 0.5);
    transform: translateX(110px);
    margin-top: 10px;
}

.cabinet-hr-student {
    background: #2E2E2E;
    height: 1px;
    margin-top: 210px;
}

.button-student {
    transform: translateX(410px);
}

.description-student {
    transform: translateX(420px);
}

.text-cabinet {
    font-size: 17px;
    font-weight: 550;
}

.text-cabinet-var {
    transform: translateX(5px);
    font-size: 17px;
}

.text-cabinetA {
    font-family: "Inter";
    font-size: 13px;
     transform: translateY(-15px);
}

@font-face {
    font-family: "Ubuntu";
  src: url("../../fonts/ubuntu/Ubuntu-Bold.eot");
  src: url("../../fonts/ubuntu/Ubuntu-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/ubuntu/Ubuntu-Bold.woff2") format("woff2"), url("../../fonts/ubuntu/Ubuntu-Bold.woff") format("woff"), url("../../fonts/ubuntu/Ubuntu-Bold.ttf") format("truetype"), url("../../fonts/ubuntu/Ubuntu-Bold.svg#Ubuntu-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: "Ubuntu";
  src: url("../../fonts/ubuntu/Ubuntu-Light.eot");
  src: url("../../fonts/ubuntu/Ubuntu-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/ubuntu/Ubuntu-Light.woff2") format("woff2"), url("../../fonts/ubuntu/Ubuntu-Light.woff") format("woff"), url("../../fonts/ubuntu/Ubuntu-Light.ttf") format("truetype"), url("../../fonts/ubuntu/Ubuntu-Light.svg#Ubuntu-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: "Ubuntu";
  src: url("../../fonts/ubuntu/Ubuntu-Medium.eot");
  src: url("../../fonts/ubuntu/Ubuntu-Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/ubuntu/Ubuntu-Medium.woff2") format("woff2"), url("../../fonts/ubuntu/Ubuntu-Medium.woff") format("woff"), url("../../fonts/ubuntu/Ubuntu-Medium.ttf") format("truetype"), url("../../fonts/ubuntu/Ubuntu-Medium.svg#Ubuntu-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: "Ubuntu";
  src: url("../../fonts/ubuntu/Ubuntu-Regular.eot");
  src: url("../../fonts/ubuntu/Ubuntu-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/ubuntu/Ubuntu-Regular.woff2") format("woff2"), url("../../fonts/ubuntu/Ubuntu-Regular.woff") format("woff"), url("../../fonts/ubuntu/Ubuntu-Regular.ttf") format("truetype"), url("../../fonts/ubuntu/Ubuntu-Regular.svg#Ubuntu-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

button {
    font-family: "Ubuntu", sans-serif;
}

.btn-green {
    background-color: #0cab5f;
    color: white;
    border-radius: 6px;
}

.form-one-green {
    width: 540px;
    height: 40px;
    padding: 5px 15px;
    margin-top: 30px;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-size: 17px;
    font-weight: 300;
}

.form-two-green {
    padding: 5px 15px;
    height: 40px;
    width: 240px;
    float: right;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-size: 15px;
    font-weight: 300;
}

.btn-yellow {
    background-color: #b1a10b;
    color: white;
    border-radius: 6px;
}

.form-one-yellow {
    padding: 5px 15px;
    height: 30px;
    margin-top: 150px;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-size: 14px;
}

.form-two-yellow {
    width: 150px;
    height: 40px;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-size: 15px;
    font-weight: 300;
}

.btn-light-yellow {
    background-color: #ada76a;
    color: white;
    border-radius: 6px;
}

.btn-light-yellow:hover {
    color: white;
    background: #d3cb81;
    border: #d3cb81;
    transition: all 0.3s ease;
}

.btn-light-yellow:active {
    color: white;
    background: #d3cb81;
    border: #d3cb81;
}

.btn-yellow:hover {
    color: white;
    background: #d7c30d;
    border: #d7c30d;
    transition: all 0.3s ease;
}

.btn-yellow:active {
    color: white;
    background: #d7c30d;
    border: #d7c30d;
}

.btn-green:hover {
    color: white;
    background: #0ed174;
    border: #0ed174;
    transition: all 0.3s ease;
}

.btn-green:active {
    color: white;
    background: #0ed174;
    border: #0ed174;
}

.btn-dark {
    background-color: #353535;
    color: white;
    border-radius: 6px;
}

.btn-dark.active {
    background-color: #b1a10b;
    border: #b1a10b;
}

.btn-dark:hover {
    background: #353535;
    border: #353535;
}

.list-button {
    color: #FFFFFF;
    background: #171717;
    border-radius: 6px;
    height: 30px;
    font-size: 17px;

}

.list-button:hover {
    color: #FFFFFF;
    background: #3d3d3d;
}

.list-button:active {
    color: #FFFFFF;
    background: #b1a10b;
}

.width-description {
    width: 90px;
}

.width-settings {
    width: 150px;
}

.button-exit {
    position: absolute;
    bottom: 15px;
    color: #FFFFFF;
    background: #1f1f1f;
    border-radius: 6px;
    font-size: 20px;
    padding: 7px 100px;
    margin-left: 10px;
}

.button-exit:hover {
    color: #FFFFFF;
    background: #454545;
}

.button-exit:active {
    color: #FFFFFF;
    background: #b1a10b;
}

.description-button {
    color: #FFFFFF;
    background: #B1A10B;
    border-radius: 6px;
    height: 30px;
    font-size: 17px;
    margin-right: 20px;
    width: 150px;
}

.input-grey-black {
    width: 540px;
    height: 35px;
    background: #242424;
    border-radius: 10px;
    border: #242424;
    color: white;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.input-grey-black.fail-data::-moz-placeholder {
    color: #8F1E1E;
}

.input-grey-black.fail-data::placeholder {
    color: #8F1E1E;
}

.input-grey-black::-moz-placeholder {
    color: #3B3B3B;
    font-family: "Ubuntu", sans-serif;
    font-size: 17px;
}

.input-grey-black::placeholder {
    color: #3B3B3B;
    font-family: "Ubuntu", sans-serif;
    font-size: 17px;
}

.input-grey-grey {
    width: 730px;
    height: 55px;
    background: #242424;
    border-radius: 10px;
    color: white;
}

.input-grey-grey::-moz-placeholder {
    color: #3B3B3B;
    font-family: "Ubuntu", sans-serif;
    font-size: larger;
}

.input-grey-grey::placeholder {
    color: #3B3B3B;
    font-family: "Ubuntu", sans-serif;
    font-size: larger;
}

.label {
    margin-bottom: 15px;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-size: 17px;
    font-weight: 300;
    color: #FFFFFF;
    display: block;
}

.usual:link {
    color: blue;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
}

.usual:visited {
    color: #d7c30d;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
}

.usual:hover {
    color: #d7c30d;
    text-decoration: underline;
    font-family: "Ubuntu", sans-serif;
}

.usual:active {
    color: blue;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #FFFFFF;
    font-family: "Ubuntu", sans-serif;
}

p {
    color: #FFFFFF;
    font-family: "Ubuntu", sans-serif;
}

.form {
    width: 600px;
    height: 600px;
    background: #2E2E2E;
    border-radius: 10px;
    margin: auto;
    padding: 30px;
    transform: translateY(40px);
}

.form .form-group {
    margin-bottom: 25px;
}

.form .form-group:last-child {
    margin-bottom: 20px;
}

.form-name-h3 {
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 300;
    color: #FFFFFF;
    margin-bottom: 30px;
}

hr {
    width: 100%;
    height: 5px;
    background: #1F1F1F;
    border: none;
    margin-bottom: 30px;
}

.nav {
    background: #191919;
    background-size: 100%;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgba(0, 0, 0, 0.1);
    height: 80px;
}

.nav-name {
    display: block;
    width: 316px;
    height: 58px;
    padding: 20px;
    transform: translateY(5px);
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: 550;
    font-size: 25px;
    color: #FFFFFF;
}

.nav-name:link {
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
}

.nav-name:visited {
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
}

.nav-name:hover {
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
}

.nav-name:active {
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
}

.list {
    display: flex;
    float: right;
    transform: translateY(-34px);
}

.list .element-one {
    transform: translateX(-55px);
}

.list .element-two {
    transform: translateX(-20px);
}
buttonA {
    font-family: "Ubuntu";
}
.listA {
    float: left;
        text-align: left;
        transform: translateY(50px);
        padding-left: 20px;
}

.listA .element {
    transform: translateY(-45px);
        text-align: left;
            padding-top: 20px;
}

.listA-button {
    color: #FFFFFF;
    background: #ffffff00;
    font-size: 20px;
        text-align: left;
}

.listA-button:hover {
    color: #FFFFFF;
    background: #3d3d3d;
        text-align: left;
}

.listA-button:active {
    color: #FFFFFF;
    background: #b1a10b;
        text-align: left;
}

.width-Asettings {
    width: 300px ;
        text-align: left;
    padding: 10px 3px;
}

.text-A {
    font-family: "Inter";
    font-size: 13px;
    line-height: 15px;
}

/*
======================

      group-info

======================
*/

buttonG {
    font-family: "Ubuntu";
}
.listG {
    float: left;
        text-align: left;
        padding-left: 20px;
        transform: translateY(-250px);
}

.listG .element {
    transform: translateY(-45px);
        text-align: left;
            padding-top: 20px;
}

.listG-button {
    color: #FFFFFF;
    background: #ffffff00;
    font-size: 20px;
        text-align: left;
}

.listG-button:hover {
    color: #FFFFFF;
    background: #3d3d3d;
        text-align: left;
}

.listG-button:active {
    color: #FFFFFF;
    background: #b1a10b;
        text-align: left;
}

.width-Gsettings {
    width: 300px ;
        text-align: left;
    padding: 10px 3px;
}

.text-G {
    font-family: "Inter";
    font-size: 13px;
    line-height: 15px;
}

.redactor {
    position: relative;
    index-z: 0;
}

.formG {
    float: right;
    width: 1050px;
    height: 670px;
    background: #2E2E2E;
    padding: 30px 50px;
    margin-right: 75px;
    margin-top: -40px;
}

.formG .form-group {
    margin-bottom: 25px;
}

.formG .form-group:last-child {
    margin-bottom: 20px;
}

.formG-name-h3 {
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 300;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.sidebarG {
    background: #242424;
    width: 900px;
    height: 1px;
    margin-left: 460px;
    transform: translateY(230px);
    index-z: 1;
}

.listG-button {
    color: #FFFFFF;
    background: #ffffff00;
    font-size: 17px;
        text-align: left;
}

.listG-button:hover {
    color: #FFFFFF;
    background: #3d3d3d;
        text-align: left;
}

.listG-button:active {
    color: #FFFFFF;
    background: #b1a10b;
        text-align: left;
}

.width-Gsettings {
    width: 300px ;
        text-align: left;
    padding: 10px 3px;
}

.listA .elementG {
    transform: translateY(-55px);
        text-align: left;
            padding-top: 10px;
}

.formGD{
    background: #242424;
    width: 900px;
    height: 350px;
    margin-left: 40px;
    transform: translateY(220px);
    border-radius: 10px;
}

.students_group {
    transform: translateX(420px);
}

.input-G {
    width: 900px;
    height: 35px;
    background: #242424;
    border-radius: 10px;
    border: #242424;
    color: white;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.circleG {
  position: absolute;
  height: 45px;
  width: 45px;
  background-color: #B1A10B;
  border-radius: 50%;
    margin-top: 5px;
    margin-left: 10px;
}
.circleG2 {
  position: absolute;
  height: 45px;
  width: 45px;
  background-color: #B1A10B;
  border-radius: 50%;
  margin-top: 7px;
    margin-left: 10px;

}

.name-user {
position: center;
width: 268px;
height: 39px;
margin-left: 60px;
margin-top: 20px;
font-size: 20px;
line-height: 20px;
}

button {
    font-family: "Ubuntu", sans-serif;
}

.btn-primary {
    background-color: #B1A10B;
    color: white;
    border-radius: 6px;
}

buttonU {
    font-family: "Ubuntu";
}

.listU-button {
    color: #FFFFFF;
    background: #ffffff00;
    font-size: 20px;
        text-align: left;
}

.listU-button:hover {
    color: #FFFFFF;
    background: #3d3d3d;
        text-align: left;
}

.listU-button:active {
    color: #FFFFFF;
    background: #b1a10b;
        text-align: left;
}

.width-Usettings {
    width: 350px ;
        text-align: left;
}

.for-ul {
    float: right;
      list-style-type: none;
      max-height: 350px;
      width: 900px;
      overflow-y: scroll;
      margin-top: -630px;
    transform: translateY(1px);
    }

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background: #242424;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1F1F1F;
    opacity: 0.7;
    z-index: 0;
}

.modal-window{
    z-index: 2;
    width: 275px;
    height: 201px;
    border-right: 10px;
    box-shadow: 0 10px 15px rgba(0,0,0, .4);
    background: #FFFFFF;
    padding: 10px;

}

.modal-text{
    position: center;
    color: #000000;
}

.btn-close {
    position: absolute;
    right: 0px;
    top: 20px;
    border: none;
    background: none;
    opacity: 0.7;
}
.btn-close:hover{
    opacity: 1;
}

#element {

  background-color: #ffffff;
  width: 200px;
  height: 200px;
}

.overflow {
  min-height: 400px;
}
#element::-webkit-scrollbar {
  width: 10px;
  background-color: #f9f9fd;
}

#element::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #18aaaa;
}

#element::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}

/*
======================

         /CHAT

======================
*/

.tab {
    cursor: pointer;
    padding: 5px;
    height: 30px;
    border-radius: 6px;
    font-size: 17px;
    display: inline-block;
    background: #353535;
    color: white;
    width: 150px;
    text-align: center;
    margin: 20px;
    transform: translateX(550px);
}

.tabs {
    z-index: 3;
    transform: translateX(-500px);
}

.radio {
    z-index: 3;
    display: none;
}
#four:checked ~ .panels #one-panel,
#three:checked ~ .panels #two-panel,
#two:checked ~ .panels #three-panel,
#one:checked ~ .panels #four-panel {
    display: block;
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab,
#four:checked ~ .tabs #four-tab{
    background: #b1a10b;
    color: #FFFFFF;
}

.list-buttonCH {
    color: #FFFFFF;
    background: #3B3B3B;
    border-radius: 6px;
    height: 30px;
    font-size: 17px;
    margin-left: 30px;
}

.list-buttonCH:hover {
    color: #FFFFFF;
    background: #3d3d3d;
}

.list-buttonCH:active {
    color: #FFFFFF;
    background: #B1A10B;
    border-radius: 6px;
    height: 30px;
    font-size: 17px;
}

.formCH{
    position: absolute;
    width: 1000px;
    height: 670px;
    background: #2E2E2E;
    border-radius: 10px;
    margin-top: -40px;

}

.button-chat {
   transform: translateX(400px);
}

.buttonCH {
    margin-top: 235px;}

.width-settingsCH {
    width: 200px;
}

.sidebarCH {
    background: #B1A10B;
    width: 805px;
    height: 2px;
    margin-left: 430px;
    transform: translateY(600px);
    index-z: 1;
}

.button-addF {
    float: right;
    position: absolute;
    bottom: 15px;
    color: #FFFFFF;
    background: #B1A10B;
    border-radius: 6px;
    font-size: 20px;
    padding: 17px 20px;
    margin-left: 850px;
    transform: translateY(-10px);
}

.button-addF:hover {
    color: #FFFFFF;
    background: #6a6006;
}

.button-addF:active {
    color: #FFFFFF;
    background: #353003;
}

.data{
    position: absolute;
    width: 98px;
    height: 24px;
    font-weight: 400;
    font-size: 10px;
    line-height: 24px;
    color: #898780;
    margin-top: 240px;
    margin-left: 835px;
}

.message{
    position: absolute;
    float: right;
    color: #B1A10B;
    margin-top: 540px;
    margin-left: 435px;
    font-size: 14px;

}

.usermessage1{
    position: absolute;
    color: #FFFFFF;
    background: #242424;
    border-radius: 10px;
    margin-top: 470px;
    margin-left: 435px;
    padding: 10px 20px;
}

.nickuser1{
    position: absolute;
    color: #B1A10B;
    margin-top: 445px;
    margin-left: 440px;
}

.usermessage2{
    position: absolute;
    color: #FFFFFF;
    background: #B1A10B;
    border-radius: 10px;
    margin-top: 370px;
    margin-left: 1135px;
    padding: 10px 20px;
}

/*
======================

         /Refuge

======================
*/

.button-AddFile {
    position: absolute;
    bottom: 75px;
    color: #FFFFFF;
    background: #b1a10b;
    border-radius: 6px;
    font-size: 20px;
    padding: 20px 390px;
    margin-left: 430px;
}
.button-AddFile:hover {
    color: #FFFFFF;
    background: #454545;
}

.button-AddFile:active {
    color: #FFFFFF;
    background: #1f1f1f;
}
.for-ulRG {
    float: right;
      list-style-type: none;
      max-height: 420px;
      width: 900px;
      overflow-y: scroll;
    margin-top: 50px;
    transform: translateX(-200px);
    }

.square {
  position: absolute;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  color: #000000;
  background-color: #D9D9D9;
  border-radius: 10%;
  padding: 10px 20px;
}

.text {
    position: center;
    width: 268px;
    height: 39px;
    margin-left: 70px;
    margin-top: 25px;
    font-size: 20px;
    line-height: 20px;
    transform: translateY(-10px);
}

.text-R {
    font-family: "Inter";
    font-size: 13px;
    line-height: 15px;
    margin-left: 70px;
    margin-top: -20px;
}

.listR-button {
    color: #FFFFFF;
    background: #ffffff00;
    font-size: 20px;
        text-align: left;
    margin-top: 10px;
}

.listR-button:hover {
    color: #FFFFFF;
    background: #3d3d3d;
        text-align: left;
}

.listR-button:active {
    color: #FFFFFF;
    background: #b1a10b;
        text-align: left;
}


/*
======================

         /Calendar

======================
*/

.sidebarCA {
    background: #B1A10B;
    width: 905px;
    height: 2px;
    margin-left: 30px;
    transform: translateY(600px);
    index-z: 1;
}

.list-buttonCA {
    color: #FFFFFF;
    background: #3B3B3B;
    border-radius: 6px;
    height: 40px;
    font-size: 17px;
    margin-left: 30px;
}

.list-buttonCA:hover {
    color: #FFFFFF;
    background: #3d3d3d;
}

.list-buttonCA:active {
    color: #FFFFFF;
    background: #B1A10B;
    border-radius: 6px;
    height: 40px;
    font-size: 17px;
}

.formCA{
    position: absolute;
    width: 1000px;
    height: 670px;
    background: #2E2E2E;
    border-radius: 10px;
    margin-top: -40px;

}

.button-calendar {
   transform: translateX(-10px);
    line-height: 60px;
}

.buttonCA {
    margin-top: 235px;
}


.width-settingsCA {
    width: 285px;
}
.text-calendar {
    display: block;
    width: 600px;
    height: 1px;
    padding: 20px;
    font-style: normal;
    font-weight: 550;
    color: #FFFFFF;
    margin-top: 10px;
    transform: translateX(15px);
    font-size: 17px;
}
