<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>General</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>
    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../../../static/css/main.css"></head>
<body>
<header class="header">
    <div class="header-container">
        <div class="header-main">
            <a href="/" class="header-logo">STUDENTFLY</a>
            <nav class="header-nav">
                <a href="" class="header-link margin"></a>
                <a href="" class="header-link margin-two" data-bs-toggle="modal"
                   data-bs-target="#modal"><span id="boot-icon" class="bi bi-gear" style="font-size: 29px; color: rgb(255, 255, 255);"></span></a>
            </nav>
        </div>
    </div>
</header>

<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-head">
                <h5 class="modal-title" id="exampleModalLabel">Налаштування</h5>
                <button type="button" class="btn-close button-close" data-bs-dismiss="modal">x</button>
                <hr class="line-modal">
            </div>
            <div class="modal-bod">
                <form action="">
                    <div class="form-group-modal">
                        <div class="btn-pos">
                            <div class="position-set-large">
                                <a class="btn btn-light-yellow modal-light-button" href="/user_profile_my/">Профiль</a>
                                <button type="button" class="btn btn-light-yellow modal-light-button">Змінити пароль
                                </button>
                                    <a class="btn btn-light-yellow modal-light-button" href="/logout/">Вийти з акаунту</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-foot">

            </div>
        </div>
    </div>
</div>


<div class="description-user">
    <div class="container">

        <div id="rooms_menu" class="rooms_menu">
            
        </div>

        <hr class="sidebar">
        <a type="button" class="button-create"  href="../../../create_room/">Створити групу</a>
        {% if room_id != none %}
            <a type="button" class="button-exit"  href="../../../settings_group/{{room_id}}/">Налаштування</a>
        {% endif %}
    </div>
    <!-- Кнопки таби-->
    <div class="formCH">
        <div class="worko-tabs">
            <input class="state" type="radio" title="tab-one" name="tabs-state" id="tab-one" checked />
            <input class="state" type="radio" title="tab-two" name="tabs-state" id="tab-two" />
            <input class="state" type="radio" title="tab-three" name="tabs-state" id="tab-three" />
            <input class="state" type="radio" title="tab-four" name="tabs-state" id="tab-four" />
            <div class="tabs flex-tabs">
                <label for="tab-one" id="tab-one-label" class="tab">Чат</label>
                <label for="tab-two" id="tab-two-label" class="tab">Сховище</label>
                <label for="tab-three" id="tab-three-label" class="tab">Календар</label>
                <label for="tab-four" id="tab-four-label" class="tab">Посилання</label>

                <div class="panels">
                    <div id="tab-one-panel" class="panel active">
                        <div id="tab_1" class="tab_1">
                            <div id="chat_box" class="chat_box">

                            </div> 

                            <hr class="sidebarCH">
                                <div class="inputsandplaceholders">
                                    <form id="post-form" method="POST" class="post-form" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input class="message" type="text" name="message" id="message" placeholder="Massage" />
                                        <input type="submit" value="Send" class="button-sendF">
                                    </form> 
                                </div>
                        </div>
                    </div>
                    <div id="tab-two-panel" class="panel">

                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <label for="file">Выберите файл:</label>
                            <input type="file" id="file" name="myfiles[]" class="button-addF" placeholder="Add File" value="Choose file">
                            <button type="submit" class="button-sendF2">Upload file</button>
                        </form>

                        <div class="refuge-group" id="refuge-group">

                        </div>
                    </div>
                    <div id="tab-three-panel" class="panel">
                        <div class="button-calendar">

                        </div>
                    </div>
                    <div id="tab-four-panel" class="panel">
                        <hr class="sidebarCH">
                            <div id="chat_box_url" class="chat_box_url">

                            </div> 

                            <hr class="sidebarCH">
                                <div class="inputsandplaceholders">
                                    <form id="post-form_url">
                                        {% csrf_token %}
                                        <input class="message_url" type="message_url" name="message_url" id="message_url" placeholder="url" />
                                        <input type="submit" value="Send" class="button-sendF_url">
                                    </form>  
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Модальне вікно Створення групи-->
    <div class="modal center-modal fade" id="CreationModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-head">
                    <h5 class="modal-title" id="exampleModalLabel">Створити групу</h5>
                    <button type="button" class="btn-close button-close" data-bs-dismiss="modal">x</button>
                    <hr class="line-modal">
                </div>
                <div class="modal-bod">
                    <form id="post-form_create" method="CREATE_POST" class="post-form" enctype="multipart/form-data">
                        <div class="creation-group">
                            <label class="label l-position top-label">Назва групи:</label>
                            <input class="input-name-adm pos-input-creation" placeholder="  Введіть назву групи"
                                   aria-label="Name"/>
                        </div>
                        <div class="btn-pos positionForCreationButton">
                            <button type="button" class="btn btn-light-yellow small-btn-modal right-pos">Створити
                            </button>
                        </div>
                    </form>

                </div>
                <div class="modal-foot">

                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="room_id" value="{{room_id}}">
<input type="hidden" id="under_room_id" value="{{under_room_id}}">

<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="../../static/js/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="../../../static/js/main.js"></script>
</body>

</html>
